body {
  padding-top: 5rem;
}

.main-container {
    max-width: 700px !important;
    min-width: 500px !important;
}

.main-container-wide {
    min-width: 750px !important
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.custom-form {
    width: 100%;
    max-width: 400px;
    margin-top: 1.2em;
    margin-left: auto;
    margin-right: auto;
}

.names-list {
    max-height: 500px;
    overflow-y: auto;
}

.charlist-container .tab-content>.charlist-container>.active {
    display: flex;
    flex-direction: column;
}

.charlist-inline {
    display: flex;
    flex-direction: row;
}

h5.collapse-toggler {
    & a {
        text-decoration: none !important;
        color: #0000 !important;
    }
}
