body {
  padding-top: 5rem;
}

.main-container {
    max-width: 700px !important;
    min-width: 500px !important;
}

.main-container-wide {
    min-width: 1190px !important;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.custom-form {
    width: 100%;
    max-width: 400px;
    margin-top: 1.2em;
    margin-left: auto;
    margin-right: auto;
}

.names-list {
    max-height: 500px;
    overflow-y: auto;
}

.charlist-container .tab-content>.charlist-container>.active {
    display: flex;
    flex-direction: column;
}

.charlist-inline {
    display: flex;
    flex-direction: row;
}

h5.collapse-toggler {
    & a {
        text-decoration: none !important;
        color: #0000 !important;
    }
}

.w400 {
    min-width: 400px;
    max-width: 450px;
    max-height: 600px;
    overflow-y: auto;
}

.w300 {
    min-width: 300px;
    max-width: 350px;
}

.w600 {
    min-width: 600px;
    max-width: 650px;
}

.w470 {
    min-width: 450px;
    max-width: 470px;
}

.w170 {
    min-width: 175px;
    max-width: 180px;
}

.reminders-list {
    max-height: 80px;
    overflow-y: auto;
}

.skills-list {
    min-width: 470px;
    max-height: 600px;
    overflow-y: auto;
}

.stats-list {
    min-width: 720px;
}