{% extends 'charlist_main.html' %}

{% load filters %}

{% block title %} Тестовая сборка листа персонажа (загрузка аптитьюд) ver.{{version}} {% endblock %}

{% block app_content %}
    {% if facade.aptitudes %}
        <h4>Склонности</h4>
    {% for apt in facade.aptitudes %}
        <div class="card">
            <ul class="nav nav-tabs" id="tab-{{ apt.get_tag }}" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="ru-{{apt.get_tag}}-tag" data-bs-toggle="tab" aria-current="page" href="#ru-{{ apt.get_tag }}">Русский</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="en-{{apt.get_tag}}-tag" data-bs-toggle="tab" href="#en-{{ apt.get_tag }}">English</a>
                </li>
            </ul>
            <div class="card-body tab-content" id="tab-content-{{ apt.get_tag }}">
                <div class="tab-pane fade show active" id="ru-{{ apt.get_tag }}" role="tabpanel" aria-labelledby="ru-{{ apt.get_tag }}-tag">
                    <h5>{{ apt.get_name_ru }}</h5>
                    <p>{{ apt.get_description_ru }}</p>
                </div>
                <div class="tab-pane fade show" id="en-{{ apt.get_tag }}" role="tabpanel" aria-labelledby="en-{{ apt.get_tag }}-tag">
                    <h5>{{ apt.get_name_en }}</h5>
                    <p>{{ apt.get_description_en }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
    {% else %}
        <p>Empty</p>
    {% endif %}
    {% if facade.stat_descriptions %}
        <h4>Характеристики</h4>
    {% for stdescr in facade.stat_descriptions %}
        <div class="card">
            <ul class="nav nav-tabs" id="tab-{{ stdescr.get_tag }}" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="ru-{{stdescr.get_tag}}-tag" data-bs-toggle="tab" aria-current="page" href="#ru-{{ stdescr.get_tag }}">Русский</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="en-{{stdescr.get_tag}}-tag" data-bs-toggle="tab" href="#en-{{ stdescr.get_tag }}">English</a>
                </li>
            </ul>
            <div class="card-body tab-content" id="tab-content-{{ stdescr.get_tag }}">
                <div class="tab-pane fade show active" id="ru-{{ stdescr.get_tag }}" role="tabpanel" aria-labelledby="ru-{{ stdescr.get_tag }}-tag">
                    <h5>{{ stdescr.get_name_ru }}</h5>
                    <p>{{ stdescr.get_description_ru }}</p>
                </div>
                <div class="tab-pane fade show" id="en-{{ stdescr.get_tag }}" role="tabpanel" aria-labelledby="en-{{ stdescr.get_tag }}-tag">
                    <h5>{{ stdescr.get_name_en }}</h5>
                    <p>{{ stdescr.get_description_en }}</p>
                </div>
            </div>
            <div class="card-text">
                <p>
                    {% if stdescr.is_upgradeable %}
                        Улучшаемо
                    {% else %}
                        Неулучшаемо
                    {% endif %}
                </p>
            </div>
            <div class="card-text">
                {% for apt in stdescr.get_aptitudes %}
                    <p>{{ apt }}</p>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    {% else %}
        <p>Empty</p>
    {% endif %}
    {% if facade.skill_descriptions %}
        <h4>Навыки</h4>
        {% for skill in facade.skill_descriptions %}
            <div class="card">
                <ul class="nav nav-tabs" id="tab-{{ skill.get_tag }}" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="ru-{{ skill.get_tag }}-tag" data-bs-toggle="tab" aria-current="page" href="#ru-{{ skill.get_tag }}">Русский</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="en-{{ skill.get_tag }}-tag" data-bs-toggle="tab" aria-current="page" href="#en-{{ skill.get_tag }}">English</a>
                    </li>
                </ul>
                <div class="card-body tab-content" id="tab-content-{{ skill.get_tag }}">
                    <div class="tab-pane fade show active" id="ru-{{ skill.get_tag }}" role="tabpanel" aria-labelledby="ru-{{ skill.get_tag }}-tag">
                        <h5>{{ skill.get_name_ru }}</h5>
                        <p>{{ skill.get_description_ru }}</p>
                    </div>
                    <div class="tab-pane fade show" id="en-{{ skill.get_tag }}" role="tabpanel" aria-labelledby="en-{{ skill.get_tag }}-tag">
                        <h5>{{ skill.get_name_en }}</h5>
                        <p>{{ skill.get_description_en }}</p>
                    </div>
                </div>
                <div class="card-text">
                    {% if skill.is_specialist %}
                        <p>Специальный навык</p>
                        <p>Коды специализаций</p>
                        <ul>
                            {% for subtag in facade.spec_skills_subtags|get_by_dict_key:skill.get_tag %}
                                <li>subtag</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>Неспециальный навык</p>
                    {% endif %}
                </div>
                <div class="card-text">
                    <h5>Склонности</h5>
                    <ul>
                    {% for apt in skill.get_aptitudes %}
                        <li>
                            <p>{{ apt }} ({{ facade|get_aptitude:apt|get_apt_name:'ru' }})</p>
                            <p> {{ facade|get_aptitude:apt|get_apt_description:'ru' }}</p>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
                <div class="card-text">
                    <h5>Характеристики</h5>
                    <ul>
                    {% for stat in skill.get_stats %}
                        <li>
                            <p>{{ stat }} ({{ facade|get_stat_description:stat|get_stdescr_name:'ru' }})</p>
                            <p>{{ facade|get_stat_description:stat|get_stdescr_description:'ru' }}</p>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>Empty</p>
    {% endif %}
{% endblock %}