{% extends 'base.html' %}

{% block pg_title %} Character sheet {% endblock %}

{% block title %} Лист персонажа &nbsp; ver.{{ version }} {% endblock %}

{% block app_content %}

{% endblock %}

{% block scripts %}
    <script>
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script>
{% endblock %}
