{% extends 'charlist_main.html' %}

{% block pg_title %}
Characters list
{% endblock %}

{% load filters %}

{% block app_content %}
<div class="page-header text-center">
    <h3>Список персонажей</h3>
</div>
<div class="charlist-content justify-content-center">
    {% for character in characters %}
    {% include 'character_card_widget.html' %}
    {% empty %}
    <h5>Пока не создано ни одного персонажа.</h5>
    {% endfor %}
</div>
<div class="page-header text-center">
    <h3>Незавершенные заготовки</h3>
</div>
<div class="charlist-content justify-content-center">
    {% for cd in in_progress %}
        {% include 'creation_data_card.html' %}
    {% empty %}
        <h5>Незавершенных заготовок по Dark Heresy 2<sup>nd</sup> edition нет.</h5>
    {% endfor %}
    {% for cd in in_progress_rt %}
        {% include 'creation_data_rt_card.html' %}
    {% empty %}
        <h5>Незавершенных заготовок по Rogue Trader 2.0 нет.</h5>
    {% endfor %}
</div>

<div>
    <div>
        <p>
            <i>
                <a href="" class="btn btn-primary btn-large" role="button" data-bs-toggle="modal"
                   data-bs-target="#c{{character.id}}-create-character-popup" title="Создать персонажа">
                    Создать пероснажа
                </a>
            </i>
        </p>
    </div>

    <div class="modal fade" id="c{{character.id}}-create-character-popup" tabindex="-1"
         aria-labelledby="c{{character.id}}-create-character-popup-label">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <b id="c{{character.id}}-create-character-popup-label">
                        {{ facade|get_talent_description:talent_key|get_tldescr_name:lang }}
                    </b>
                </div>
                <div class="modal-body">
                    <div class="text-center text-dark">
                        <b>Выберите систему, для которой хотите создать пероснажа:</b>
                    </div>
                    <a class="btn btn-success btn-large" role="button" href="{% url 'create-character-start' %}">
                        <b>Dark Heresy 2<sup>nd</sup> edition</b>
                    </a>
                    <a class="btn btn-primary btn-large" role="button" href="{% url 'create-character-rt-start' %}">
                        <b>Rogue Trader 2.0</b>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}