{% extends 'charlist_main.html' %}

{% load filters %}

{% block pg_title %}
Character sheet interactive mockup
{% endblock %}

{% block title %}
Макет листа персонажа ver.{{ version }}
{% endblock %}

{% block app_content %}
<div class="charlist_container">
    <div>
        <ul class="nav nav-tabs" role="tablist">
            {% for lang in facade.langs %}
            <li class="nav-item" role="presentation">
                <a class="nav-link {% if forloop.first %}active{% endif %}" data-bs-toggle="tab" id="{{ lang }}-tab" href="#{{ lang }}-card" aria-current="page">
                    {% if lang == 'ru' %}Русский{% else %}English{% endif %}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="tab-content charlist_container">
    {% for lang in facade.langs %}
        <div class="tab-pane fade show charlist-container {% if forloop.first %}active{% endif %}"
             id="{{ lang }}-card" role="tabpanel" aria-labelledby="{{lang}}-tab">
            <div class="charsheet-card">
                <header class="text-center">
                    <h3>{{ character.name }}</h3>
                    {% include 'xp_widget.html' %}
                </header>
                <div class="card card-body charlist-inline justify-content-center">
                    <div class="card alert-success p-2 me-2">
                        <b class="text-dark">2&nbsp;{% if lang == 'ru' %} совпадающих склонности{% else %}matching aptitudes{% endif %}</b>
                    </div>
                    <div class="card alert-warning p-2 me-2">
                        <b class="text-dark">1&nbsp;{% if lang == 'ru' %} совпадающая склонность{% else %}matching aptitudes{% endif %}</b>
                    </div>
                    <div class="card alert-danger p-2">
                        <b class="text-dark">{% if lang == 'ru' %}нет совпадающих склонностей{% else %}no matching aptitudes{% endif %}</b>
                    </div>
                </div>
                <div class="card card-body justify-content-center">
                    <header class="text-center">
                        <b>{% if lang == 'ru' %}Характеристики{% else %}Characteristics{% endif %}</b>
                    </header>
                    {% for form in forms|get_by_dict_key:'stats' %}
                        {% if not forloop.counter|divisibleby:2 %}
                            <div class="card-group justify-content-center">
                        {% endif %}
                        {% include 'stat_upgrade_form.html' %}
                        {% if forloop.counter|divisibleby:2 or forloop.last %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="card card-body justify-content-center">
                    <header class="text-center">
                        <b>{% if lang == 'ru' %}Умения{% else %}Skills{% endif %}</b>
                    </header>
                    <div class="charlist-inline justify-content-center">
                        <div class="card skills-list">
                        {% for form in forms|get_by_dict_key:'skills'|get_by_dict_key:'common' %}
                            {% if not forloop.counter|divisibleby:2 %}
                                <div class="card-group justify-content-center">
                            {% endif %}
                                    {% include 'skill_upgrade_form.html' %}
                            {% if forloop.counter|divisibleby:2 or forloop.last %}
                                </div>
                            {% endif %}
                        {% endfor %}
                        </div>
                        <div class="card charlist-content skills-list">
                        {% for form_map in forms|get_by_dict_key:'skills'|get_by_dict_key:'spec' %}
                            {% with form_map|get_by_dict_key:'skill_tag' as skill_tag %}
                            {% with form_map|get_by_dict_key:'colour' as colour %}
                                <div class="card card-body charlist-content justify-content-center align-items-center alert-{{ colour }} w400-skill">
                                    <div>
                                        <b class="text-dark">{{ facade|get_skill_description:skill_tag|get_skdescr_name:lang }}</b>
                                    </div>
                                    {% for form in form_map|get_by_dict_key:'forms' %}
                                        {% include 'skill_subtag_upgrade_form.html' %}
                                    {% endfor %}
                                </div>
                            {% endwith %}
                            {% endwith %}
                        {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="card card-body justify-content-center">
                    <header class="text-center">
                        <b class="text-center">{% if lang == 'ru' %}Таланты{% else %}Talents{% endif %}<i>(Нажмите на название таланта, чтобы просмотреть описание)</i></b>
                    </header>
                    <div class="card card-body justify-content-center">
                        <header class="text-center">
                            <b>{% if lang == 'ru' %}Доступные{% else %}Available{% endif %}</b>
                        </header>
                    {% with forms|get_by_dict_key:'talents'|get_by_dict_key:'available' as available %}
                        <div class="card-group">
                            {% for tier, talents in available.items %}
                                <div class="card card-body justify-content-center">
                                    <header class="text-center">
                                        <b>{{ tier }}&nbsp;{% if lang == 'ru' %}тир{% else %}tier{% endif %}</b>
                                    </header>
                                    <div class="card charlist-content talents-list">
                                    {% for form in talents|get_by_dict_key:'common' %}
                                        {% include 'talent_upgrade_form.html' %}
                                    {% endfor %}
                                    {% for form_map in talents|get_by_dict_key:'spec' %}
                                        {% with form_map|get_by_dict_key:'tl_tag' as tl_tag %}
                                        {% with form_map|get_by_dict_key:'colour' as colour %}
                                        <div class="card card-body charlist-content justify-content-center align-items-center alert-{{ colour }} w300">
                                            <div>
                                                <b class="text-dark">{{ facade|get_talent_description:tl_tag|get_tldescr_name:lang }}</b>
                                            </div>
                                            {% for form in form_map|get_by_dict_key:'forms' %}
                                                {% include 'talent_subtag_upgrade_form.html' %}
                                            {% endfor %}
                                        </div>
                                        {% endwith %}
                                        {% endwith %}
                                    {% endfor %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endwith %}

                                        {% if character.is_rt %}
                                            <input type="hidden" name="log" value="{{ character.make_upg_costs }}">
                                        {% endif %}
                    </div>
                    <div class="card card-body justify-content-center">
                        <header class="text-center">
                            <b>{% if lang == 'ru' %}Недоступные{% else %}Not available{% endif %}</b>
                        </header>
                    {% with forms|get_by_dict_key:'talents'|get_by_dict_key:'unavailable' as unavailable %}
                        <div class="card-group">
                            {% for tier, talents in unavailable.items %}
                                <div class="card card-body justify-content-center">
                                    <header class="text-center">
                                        <b>{{ tier }}&nbsp;{% if lang == 'ru' %}тир{% else %}tier{% endif %}</b>
                                    </header>
                                    <div class="card charlist-content talents-list">
                                    {% for form in talents|get_by_dict_key:'common' %}
                                        {% include 'talent_upgrade_form.html' %}
                                    {% endfor %}
                                    {% for form_map in talents|get_by_dict_key:'spec' %}
                                        {% with form_map|get_by_dict_key:'tl_tag' as tl_tag %}
                                        {% with form_map|get_by_dict_key:'colour' as colour %}
                                        {% with facade.talent_descriptions|get_by_dict_key:tl_tag as tal %}
                                        <div class="card card-body charlist-content justify-content-center align-items-center alert-{{ colour }} w300">
                                            <div>
                                                <a href="" class="text-dark text-decoration-none" role="button" data-bs-toggle="modal"
                                                   data-bs-target="#c{{character.id}}-{{ tl_tag }}-{{ lang }}-upg-info" title="Подробнее">
                                                    <b class="text-dark">{{ tal.name|get_by_dict_key:lang }}</b>
                                                </a>
                                            </div>

                                            <div class="modal fade" id="c{{character.id}}-{{ tl_tag }}-{{ lang }}-upg-info" tabindex="-1"
                                                 aria-labelledby="c{{character.id}}-{{ tl_tag }}-{{ lang }}-upg-info-label">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <b id="c{{character.id}}-{{ tl_tag }}-{{ lang }}-upg-info-label">
                                                                {{ tal.name|get_by_dict_key:lang }}
                                                            </b>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="charlist-inline">
                                                                <div>
                                                                    <b class="text-dark">
                                                                        <i>{% if lang == 'ru' %}Эффекты{% else %}Effects{% endif %}</i>
                                                                    </b>
                                                                </div>
                                                            </div>
                                                            <div>
                                                                {% for hint in facade|get_talent_description:tl_tag|get_tldescr_hints %}
                                                                <div class="card card-body">
                                                                    <p class="card-text">{{ hint|get_hint_description:lang }}</p>
                                                                </div>
                                                                {% endfor %}
                                                            </div>
                                                            <div class="charlist-inline">
                                                                <b>
                                                                    <i>{% if lang == 'ru' %}Описание{% else %}Description{% endif %}</i>
                                                                </b>
                                                            </div>
                                                            <div class="card card-body">
                                                                <p class="card-text">
                                                                    {{ tal.description|get_by_dict_key:lang }}
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% for form in form_map|get_by_dict_key:'forms' %}
                                                {% include 'talent_subtag_upgrade_form.html' %}
                                            {% endfor %}
                                            {% with tal.get_prerequisites as prereqs %}
                                                {% include 'prerequisites_widget.html' %}
                                            {% endwith %}
                                        </div>
                                        {% endwith %}
                                        {% endwith %}
                                        {% endwith %}
                                    {% endfor %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endwith %}
                    </div>
                </div>
                <div class="card card-body justify-content-center">
                    <header class="text-center">
                        <b>
                            {% if lang == 'ru' %}Элитные улучшения{% else %}Elite advances{% endif %}
                        </b>
                    </header>
                    <div class="card-group">
                    {% with forms|get_by_dict_key:'ea' as advances %}
                    {% for availability, advs in advances.items %}
                    <div class="card card-body justify-content-center">
                        <header class="text-center">
                            <b>
                                {% if availability == 'available' %}
                                    {% if lang == 'ru' %}Доступные{% else %}Available{% endif %}
                                {% endif %}
                                {% if availability == 'unavailable' %}
                                    {% if lang == 'ru' %}Недоступные{% else %}Unavailable{% endif %}
                                {% endif %}
                            </b>
                        </header>
                        <div class="card charlist-content talents-list justify-content-center">
                            {% for form in advs %}
                                {% include 'elite_advance_upgrade_form.html' %}
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                    {% endwith %}
                    </div>
                </div>
                {% if 'EA_PSY' in character.ea_id %}
                <div class="card card-body justify-content-center">
                    <header class="text-center">
                        <b>
                            {% if lang == 'ru' %}
                                Пси-рейтинг и психосилы (нажмите на название психосилы или дисциплины, чтобы увидеть больше информации)
                            {% else %}
                                Psy-rating and psychic powers (click on psychic power's or discipline's name to get more information)
                            {% endif %}
                        </b>
                    </header>
                    {% with forms|get_by_dict_key:'pr' as form %}
                        {% include 'pr_upgrade_form.html' %}
                    {% endwith %}
                    <div class="text-dark text-center card-title">
                        <b>{% if lang == 'ru' %}Психосилы{% else %}Psychic powers{% endif %}</b>
                    </div>
                    {% include 'psy_powers_list.html' %}
                </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}