{% load filters %}
<div class="charlist-inline">
    <div>
        <p class="collapse-toggler fs-6">&nbsp;
            <a class="text-dark text-decoration-none" role="button" data-bs-toggle="collapse"
               href="#{{ apt }}-{{ lang }}-info" title="Подробнее" aria-expanded="false" aria-controls="{{ apt }}-{{ lang }}-info">
                <i>{{ facade|get_aptitude:apt|get_apt_name:lang }}</i>
            </a>
        </p>
    </div>
</div>
<div class="collapse" id="{{ apt }}-{{ lang }}-info">
    <div class="card card-body">
        <p class="card-text">{{ facade|get_aptitude:apt|get_apt_description:lang }}</p>
    </div>
</div>