{% extends 'charlist_main.html' %}

{% load filters %}

{% block pg_title %}
Character sheet interactive mockup
{% endblock %}

{% block title %}
Макет листа персонажа ver.{{ version }}
{% endblock %}

{% block app_content %}
<div class="charlist_container">
    <div>
        <ul class="nav nav-tabs" role="tablist">
            {% for lang in facade.langs %}
            <li class="nav-item" role="presentation">
                <a class="nav-link {% if forloop.first %}active{% endif %}" data-bs-toggle="tab" id="{{ lang }}-tab" href="#{{ lang }}-card" aria-current="page">
                    {% if lang == 'ru' %}Русский{% else %}English{% endif %}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="tab-content charlist_container">
    {% for lang in facade.langs %}
        <div class="tab-pane fade show charlist-container {% if forloop.first %}active{% endif %}"
             id="{{ lang }}-card" role="tabpanel" aria-labelledby="{{lang}}-tab">
            <div class="charsheet-card">
                <header class="text-center">
                    <h3>{{ character.name }}</h3>
                    {% include 'xp_widget.html' %}
                </header>
                <div class="card card-body charlist-inline justify-content-center">
                    <div class="card alert-success p-2 me-2">
                        <b class="text-dark">2&nbsp;{% if lang == 'ru' %} совпадающих склонности{% else %}matching aptitudes{% endif %}</b>
                    </div>
                    <div class="card alert-warning p-2 me-2">
                        <b class="text-dark">1&nbsp;{% if lang == 'ru' %} совпадающая склонность{% else %}matching aptitudes{% endif %}</b>
                    </div>
                    <div class="card alert-danger p-2">
                        <b class="text-dark">{% if lang == 'ru' %}нет совпадающих склонностей{% else %}no matching aptitudes{% endif %}</b>
                    </div>
                </div>
                <div class="card card-body justify-content-center">
                    <header class="text-center">
                        <b>{% if lang == 'ru' %}Характеристики{% else %}Characteristics{% endif %}</b>
                    </header>
                    {% for form in forms|get_by_dict_key:'stats' %}
                        {% if not forloop.counter|divisibleby:2 %}
                            <div class="card-group justify-content-center">
                        {% endif %}
                        {% include 'stat_upgrade_form.html' %}
                        {% if forloop.counter|divisibleby:2 or forloop.last %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="card card-body justify-content-center">
                    <header class="text-center">
                        <b>{% if lang == 'ru' %}Умения{% else %}Skills{% endif %}</b>
                    </header>
                    <div class="card-group">
                        <div class="card skills-list">
                        {% for form in forms|get_by_dict_key:'skills' %}
                            {% if not forloop.counter|divisibleby:2 %}
                                <div class="card-group justify-content-center">
                            {% endif %}
                                    {% if form.skill_tag not in facade.spec_skills %}
                                        {% include 'skill_upgrade_form.html' %}
                                    {% endif %}
                            {% if forloop.counter|divisibleby:2 or forloop.last %}
                                </div>
                            {% endif %}
                        {% endfor %}
                        </div>
                        <div class="card charlist-content skills-list">
                        {% for form_map in forms|get_by_dict_key:'skills' %}
                            {% if form_map|get_by_dict_key:'skill_tag' in facade.spec_skills %}
                                {% with form_map|get_by_dict_key:'skill_tag' as skill_tag %}
                                {% with form_map|get_by_dict_key:'colour' as colour %}
                                    <div class="card card-body charlist-content justify-content-center align-items-center alert-{{ colour }} w300">
                                        <div>
                                            <b class="text-dark">{{ facade|get_skill_description:skill_tag|get_skdescr_name:lang }}</b>
                                        </div>
                                        {% for form in form_map|get_by_dict_key:'forms' %}
                                            {% include 'skill_upgrade_form.html' %}
                                        {% endfor %}
                                    </div>
                                {% endwith %}
                                {% endwith %}
                            {% endif %}
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}