{% extends 'charlist_main.html' %}

{% load filters %}

{% block title %} Тестовая сборка листа персонажа (загрузка аптитьюд) ver.{{version}} {% endblock %}

{% block app_content %}
    {% if facade.aptitudes %}
        <h4>Склонности</h4>
    {% for key, apt in facade.aptitudes.items %}
        <div class="card">
            <ul class="nav nav-tabs" id="tab-{{ apt.get_tag }}" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="ru-{{apt.get_tag}}-tag" data-bs-toggle="tab" aria-current="page" href="#ru-{{ apt.get_tag }}">Русский</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="en-{{apt.get_tag}}-tag" data-bs-toggle="tab" href="#en-{{ apt.get_tag }}">English</a>
                </li>
            </ul>
            <div class="card-body tab-content" id="tab-content-{{ apt.get_tag }}">
                <div class="tab-pane fade show active" id="ru-{{ apt.get_tag }}" role="tabpanel" aria-labelledby="ru-{{ apt.get_tag }}-tag">
                    <h5>{{ apt.get_name_ru }}</h5>
                    <p>{{ apt.get_description_ru }}</p>
                </div>
                <div class="tab-pane fade show" id="en-{{ apt.get_tag }}" role="tabpanel" aria-labelledby="en-{{ apt.get_tag }}-tag">
                    <h5>{{ apt.get_name_en }}</h5>
                    <p>{{ apt.get_description_en }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
    {% else %}
        <p>Empty</p>
    {% endif %}
    {% if facade.stat_descriptions %}
        <h4>Характеристики</h4>
    {% for key, stdescr in facade.stat_descriptions.items %}
        <div class="card">
            <ul class="nav nav-tabs" id="tab-{{ stdescr.get_tag }}" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="ru-{{stdescr.get_tag}}-tag" data-bs-toggle="tab" aria-current="page" href="#ru-{{ stdescr.get_tag }}">Русский</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="en-{{stdescr.get_tag}}-tag" data-bs-toggle="tab" href="#en-{{ stdescr.get_tag }}">English</a>
                </li>
            </ul>
            <div class="card-body tab-content" id="tab-content-{{ stdescr.get_tag }}">
                <div class="tab-pane fade show active" id="ru-{{ stdescr.get_tag }}" role="tabpanel" aria-labelledby="ru-{{ stdescr.get_tag }}-tag">
                    <h5>{{ stdescr.get_name_ru }}</h5>
                    <p>{{ stdescr.get_description_ru }}</p>
                </div>
                <div class="tab-pane fade show" id="en-{{ stdescr.get_tag }}" role="tabpanel" aria-labelledby="en-{{ stdescr.get_tag }}-tag">
                    <h5>{{ stdescr.get_name_en }}</h5>
                    <p>{{ stdescr.get_description_en }}</p>
                </div>
            </div>
            <div class="card-text">
                <p>
                    {% if stdescr.is_upgradeable %}
                        Улучшаемо
                    {% else %}
                        Неулучшаемо
                    {% endif %}
                </p>
            </div>
            <div class="card-text">
                {% for apt in stdescr.get_aptitudes %}
                    <p>{{ apt }}</p>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    {% else %}
        <p>Empty</p>
    {% endif %}
    {% if facade.skill_descriptions %}
        <h4>Навыки</h4>
        {% for key, skill in facade.skill_descriptions.items %}
            <div class="card">
                <ul class="nav nav-tabs" id="tab-{{ skill.get_tag }}" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="ru-{{ skill.get_tag }}-tag" data-bs-toggle="tab" aria-current="page" href="#ru-{{ skill.get_tag }}">Русский</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="en-{{ skill.get_tag }}-tag" data-bs-toggle="tab" aria-current="page" href="#en-{{ skill.get_tag }}">English</a>
                    </li>
                </ul>
                <div class="card-body tab-content" id="tab-content-{{ skill.get_tag }}">
                    <div class="tab-pane fade show active" id="ru-{{ skill.get_tag }}" role="tabpanel" aria-labelledby="ru-{{ skill.get_tag }}-tag">
                        <h5>{{ skill.get_name_ru }}</h5>
                        <p>{{ skill.get_description_ru }}</p>
                    </div>
                    <div class="tab-pane fade show" id="en-{{ skill.get_tag }}" role="tabpanel" aria-labelledby="en-{{ skill.get_tag }}-tag">
                        <h5>{{ skill.get_name_en }}</h5>
                        <p>{{ skill.get_description_en }}</p>
                    </div>
                </div>
                <div class="card-text">
                    {% if skill.is_specialist %}
                        <p>Специальный навык</p>
                        <p>Коды специализаций</p>
                        <ul>
                            {% for subtag in facade.spec_skills_subtags|get_by_dict_key:skill.get_tag %}
                                <li>{{ subtag }}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>Неспециальный навык</p>
                    {% endif %}
                </div>
                <div class="card-text">
                    <h5>Склонности</h5>
                    <ul>
                    {% for apt in skill.get_aptitudes %}
                        <li>
                            <p>{{ apt }} ({{ facade|get_aptitude:apt|get_apt_name:'ru' }})</p>
                            <p> {{ facade|get_aptitude:apt|get_apt_description:'ru' }}</p>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
                <div class="card-text">
                    <h5>Характеристики</h5>
                    <ul>
                    {% for stat in skill.get_stats %}
                        <li>
                            <p>{{ stat }} ({{ facade|get_stat_description:stat|get_stdescr_name:'ru' }})</p>
                            <p>{{ facade|get_stat_description:stat|get_stdescr_description:'ru' }}</p>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>Empty</p>
    {% endif %}
    {% if facade.talent_descriptions %}
        <h4>Таланты</h4>
        {% for key, talent in facade.talent_descriptions.items %}
            <div class="card">
                <ul class="nav nav-tabs" id="tab-{{ talent.get_tag }}" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="ru-{{ talent.get_tag }}-tag" data-bs-toggle="tab" aria-current="page" href="#ru-{{ talent.get_tag }}">Русский</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="en-{{ talent.get_tag }}-tag" data-bs-toggle="tab" aria-current="page" href="#en-{{ talent.get_tag }}">Русский</a>
                    </li>
                </ul>
                <div class="card-body tab-content" id="tab-content-{{ talent.get_tag }}">
                    <div class="tab-pane fade show active" id="ru-{{ talent.get_tag }}" role="tabpanel" aria-labelledby="ru-{{ talent.get_tag }}-tag">
                        <h5>{{ talent.get_name_ru }}</h5>
                        <p>Краткое описание</p>
                        <p>{{ talent.get_short_description_ru }}</p>
                        <p>Полное описание</p>
                        <p>{{ talent.get_short_description_ru }}</p>
                        <h5>Стикеры</h5>
                        <ul>
                            {% for hint in talent.get_hints %}
                            <li>
                                <p>{{ hint.get_name_ru }}</p>
                                <p>{{ hint.get_description_ru }}</p>
                                <ul>
                                    {% for tgt in self.get_target %}
                                    <li>{{ tgt }}</li>
                                    {% endfor %}
                                </ul>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="tab-pane fade show" id="en-{{ talent.get_tag }}" role="tabpanel" aria-labelledby="en-{{ talent.get_tag }}-tag">
                        <h5>{{ talent.get_name_en }}</h5>
                        <p>Short description</p>
                        <p>{{ talent.get_short_description_en }}</p>
                        <p>Full description</p>
                        <p>{{ talent.get_full_description_en }}</p>
                        <h5>Hints</h5>
                        <ul>
                            {% for hint in talent.get_hints %}
                            <li>
                                <p>{{ hint.get_name_en }}</p>
                                <p>{{ hint.get_description_en }}</p>
                                <ul>
                                    {% for tgt in self.get_target %}
                                    <li>{{ tgt }}</li>
                                    {% endfor %}
                                </ul>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="card-text">
                    {% if talent.has_prerequisites %}
                    <h5>Требования</h5>
                    <ul>
                        {% for prereq in talent.get_prerequisites %}
                        <li>
                            <p>{{ prereq.tag }} {% if prereq.has_subtag %}{% for st in prereq.subtag %}{{ st }}/{% endfor %}{% endif %}: {{ prereq.value }}</p>
                            {% if prereq.has_alt %}
                            <p>
                                {{ prereq.get_alt_tag }}
                                {% if prereq.alt_has_subtag %}
                                    {% for st in prereq.get_alt_subtag %}
                                        {{ st }}/
                                    {% endfor %}
                                {% endif% }
                                : {{ prereq.get_alt_value }}</p>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <h5>Требований не имеет</h5>
                    {% endif %}
                </div>
                <div class="card-text">
                    <h5>Тир: {{ talent.get_tier }}</h5>
                </div>
                <div class="card-text">
                    <h5>Склонности</h5>
                    <ul>
                        {% for apt in talent.get_apts %}
                        <li>{{ facade|get_aptitude:apt|get_apt_name:'ru' }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="card-text">
                    <p>{% if talent.is_specialits %} Имеет специализации {% else %} Не имеет специализаций {% endif %}</p>
                </div>
                <div class="card-text">
                    <p>
                        Берется {% if talent.is_stackable %} несколько {% else %} один {% endif %} раз
                    </p>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>Empty</p>
    {% endif %}
{% endblock %}