{% load filters %}
<div class="charlist-inline">
    <div>
        <p class="fs-5">&nbsp;
            <a class="text-dark text-decoration-none" role="button" data-bs-toggle="modal" href="" title="Подробнее"
               data-bs-target="#{{ apt }}-{{ lang }}-info">
                <i>{{ facade|get_aptitude:apt|get_apt_name:lang }}</i>
            </a>
        </p>
    </div>
</div>
<div class="modal fade" id="{{ apt }}-{{ lang }}-info" tabindex="-1" aria-labelledby="{{ apt }}-{{ lang }}-info-label">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="{{ apt }}-{{ lang }}-info-label">{{ facade|get_aptitude:apt|get_apt_name:lang }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>{{ facade|get_aptitude:apt|get_apt_description:lang }}</p>
            </div>
        </div>
    </div>
</div>