{% load filters %}

<div class="card charlist-content w600">
    {% with char_data|get_by_dict_key:character.pk as char_model %}
    <div class="card-title">
        <h4><a class="card-link" href="{{ character.get_view_url }}">
            {{ char_model.name }}&nbsp;({% if char_model.is_rt %}Rogue Trader 2.0{% else %}Dark Heresy 2<sup>nd</sup> edition{% endif %})
        </a></h4>
    </div>
    <div class="card-body charlist-inline justify-content-center">
        {% if char_model.is_rt %}
        <div>
            {% with facade.rt_homeworlds|get_by_dict_key:char_model.hw_id as hw %}
            <h5>{{ hw.name|get_by_dict_key:'en' }}</h5>
            {% endwith %}
        </div>
        <div>
            {% with facade.birthrights|get_by_dict_key:char_model.birthright as br %}
            <h5>{{ br.name|get_by_dict_key:'en' }}</h5>
            {% endwith %}
        </div>
        <div>
            {% with facade.lures|get_by_dict_key:char_model.lure_id as lure %}
            <h5>{{ lure.name|get_by_dict_key:'en' }}</h5>
            {% endwith %}
        </div>
        <div>
            {% with facade.trials|get_by_dict_key:char_model.trial_id as trial %}
            <h5>{{ trial.name|get_by_dict_key:'en' }}</h5>
            {% endwith %}
        </div>
        <div>
            {% with facade.motivations|get_by_dict_key:char_model.motivation_id as motive %}
            <h5>{{ motive.name|get_by_dict_key:'en' }}</h5>
            {% endwith %}
        </div>
        {% else %}
        <div>
            <h5>{{ facade|get_homeworld_description:char_model.hw_id|get_hw_name:'en' }}</h5>
        </div>
        <div>
            <h5>-</h5>
        </div>
        <div>
            <h5>{{ facade|get_background_description:char_model.bg_id|get_bg_name:'en' }}</h5>
        </div>
        <div>
            <h5>-</h5>
        </div>
        <div>
            <h5>{{ facade|get_role_description_big:char_model.role_id|get_role_name:'en' }}</h5>
        </div>
        {% endif %}
    </div>
    <div class="card-body charlist-inline justify-content-center">
        {% for stat_key, stat in char_model.stats.items %}
        <div class="charlist-content justify-content-center">
            <div>
                <h6>{{ facade|get_short_stat:stat_key|get_short_stat_name:'en' }}</h6>
            </div>
            <div class="charlist-inline justify-content-center">
                <button class="btn btn-outline-dark disabled fs-4">{{ stat.bonus }}</button>
                <button class="btn btn-light disabled fs-5">{{ stat.residue }}</button>
            </div>
        </div>
        {% if not forloop.last %}
        <span>&nbsp;</span>
        {% endif %}
        {% endfor %}
    </div>
    <div class="card-body justify-content-center">
        <h5>Wounds: {{ char_model.wounds_current }} / {{ char_model.wounds_cap }}</h5>
    </div>
    <div class="card-body justify-content-center">
        <h5>Fatigue: {{ char_model.fatigue_current }} / {{ char_model.fatigue_cap }} </h5>
    </div>
    <div class="card-body justify-content-center">
        <h5>Fate points: {{ char_model.fate_current }} / {{ char_model.fate_cap }}</h5>
    </div>
    <div class="card-body charlist-inline justify-content-center">
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#char-delete-modal-{{ character.pk }}">
            Удалить
        </button>
        <a href="{{ character.get_view_url }}" class="btn btn-primary">Открыть</a>

        <div class="modal fade" id="char-delete-modal-{{ character.pk }}" tabindex="-1" aria-labelledby="char-delete-modal-{{ cd.pk }}-label">
            <div class="modal-dialog">
               <div class="modal-content">
                   <div class="modal-header">
                       <h5 class="modal-title" id="char-delete-modal-{{ cd.pk }}-label">Удаление персонажа {{ char_model.name }}</h5>
                       <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                   </div>
                   <div class="modal-body">
                       <p>Вы уверены, что хотите удалить персонажа {{ char_model.name }}?</p>
                   </div>
                   <div class="modal-footer">
                       <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                       <a href="{{ character.get_delete_url }}" class="btn btn-danger">Удалить</a>
                   </div>
               </div>
            </div>
        </div>
    </div>
    {% endwith %}
</div>