{% block loaders %}
{% load filters %}
{% endblock %}

<div class="text-start ps-4">
    <p>
        <i>
            <a href="" class="text-dark text-decoration-none" role="button" data-bs-toggle="modal"
               data-bs-target="#c{{character.id}}-{{ combat_action.tag }}-{{ lang }}-info" title="Подробнее">
                {{ combat_action.names:lang }}
            </a>
        </i>
    </p>
</div>

<div class="modal fade" id="c{{character.id}}-{{ combat_action.tag }}-{{ lang }}-info" tabindex="-1"
         aria-labelledby="c{{character.id}}-{{ combat_action.tag }}-{{ lang }}-info-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="text-dark"><b>{{ combat_action.names:lang }}</b></p>
            </div>
            <div class="modal-body">
                <p class="text-dark">
                    <b>{% if lang == 'ru' %}Тип{% else %}Type{% endif %}</b>:&nbsp;
                    {% for type in combat_action.types %}
                        {% with facade.action_types|get_by_dict_key:type as act  %}
                            {{ act.get_names|get_by_dict_key:lang }}
                        {% endwith %}
                        {% if not forloop.last %};&nbsp;{% endif %}
                    {% endfor %}
                </p>
                <p class="text-dark">
                    <b>{% if lang == 'ru' %}Подтипы{% else %}Subtypes{% endif %}:&nbsp;</b>
                    {% for kw in combat_action.keywords %}
                        {% with facade.keywords|get_by_dict_key:kw as keyword %}
                            {{ keyword.get_names:lang }}
                        {% endwith %}
                        {% if not forloop.last %};&nbsp;{% endif %}
                    {% endfor %}
                </p>
                <hr>
                <p class="text-dark"><b>{% if lang == 'ru' %}Описание{% else %}Description{% endif %}</b>:</p>
                {% for line in combat_action.descriptions|get_by_dict_key:lang %}
                    <p class="text-dark">{{ line }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
