{% block loaders %}
{% load filters %}
{% endblock %}

<div class="d-flex flex-column align-self-center">
    <div class="text-center">
        <p class="text-dark fs-4">
            <b>{% if lang == 'ru' %}Основные параметры{% else %}Main parameters{% endif %}:</b>
        </p>
    </div>
    <div class="card-group justify-content-center align-self-center">
        <div class="card justify-content-center w170">
            <div class="charlist-inline justify-content-center align-self-center w170 pt-3">
                {% if hookups|get_by_dict_key:'ST_WS' %}
                <div class="btn-group dropend">
                    <span class="position-absolute top-0 start-100 translate-middle btn btn-success dropdown-toggle badge rounded-circle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    </span>
                    <ul class="dropdown-menu w400">
                        {% for hint in hookups|get_by_dict_key:'ST_WS' %}
                        <li class="dropdown-item text-wrap">
                            <p class="text-break">{{ hint.description|get_by_dict_key:lang }} <b>({% if lang == 'ru' %}от{% else %}from{% endif %}:{{ hint.talent_name|get_by_dict_key:lang }})</b></p>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                <div class="ps-3 text-center">
                    <b>{{ facade|get_short_stat:'ST_WS'|get_short_stat_name:lang }}</b>
                </div>
            </div>
            <div class="justify-content-center align-self-center">
                <button class="btn btn-outline-dark disabled align-self-center fs-4 mb-2">
                    {% with character.stats|get_by_dict_key:'ST_WS' as stat %}
                        {{ stat.value }}
                    {% endwith %}
                </button>
            </div>
        </div>
        <div class="card justify-content-center w170">
            <div class="charlist-inline justify-content-center align-self-center w170 pt-3">
                {% if hookups|get_by_dict_key:'ST_BS' %}
                <div class="btn-group dropend">
                    <span class="position-absolute top-0 start-100 translate-middle btn btn-success dropdown-toggle badge rounded-circle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    </span>
                    <ul class="dropdown-menu w400">
                        {% for hint in hookups|get_by_dict_key:'ST_BS' %}
                        <li class="dropdown-item text-wrap">
                            <p class="text-break">{{ hint.description|get_by_dict_key:lang }} <b>({% if lang == 'ru' %}от{% else %}from{% endif %}:{{ hint.talent_name|get_by_dict_key:lang }})</b></p>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                <div class="ps-3">
                    <b>{{ facade|get_short_stat:'ST_BS'|get_short_stat_name:lang }}</b>
                </div>
            </div>
            <div class="justify-content-center align-self-center">
                <button class="btn btn-outline-dark disabled align-self-center fs-4 mb-2">
                    {% with character.stats|get_by_dict_key:'ST_BS' as stat %}
                        {{ stat.value }}
                    {% endwith %}
                </button>
            </div>
        </div>
        <div class="card justify-content-center w170">
            <div class="charlist-inline justify-content-center align-self-center w170 pt-3">
                {% if hookups|get_by_dict_key:'ST_WP' %}
                <div class="btn-group dropend">
                    <span class="position-absolute top-0 start-100 translate-middle btn btn-success dropdown-toggle badge rounded-circle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    </span>
                    <ul class="dropdown-menu w400">
                        {% for hint in hookups|get_by_dict_key:'ST_WP' %}
                        <li class="dropdown-item text-wrap">
                            <p class="text-break">{{ hint.description|get_by_dict_key:lang }} <b>({% if lang == 'ru' %}от{% else %}from{% endif %}:{{ hint.talent_name|get_by_dict_key:lang }})</b></p>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                <div class="ps-3">
                    <b>{{ facade|get_short_stat:'ST_WP'|get_short_stat_name:lang }}</b>
                </div>
            </div>
            <div class="justify-content-center align-self-center">
                <button class="btn btn-outline-dark disabled align-self-center fs-4 mb-2">
                    {% with character.stats|get_by_dict_key:'ST_WP' as stat %}
                        {{ stat.value }}
                    {% endwith %}
                </button>
            </div>
        </div>
        <div class="card justify-content-center w170">
            <div class="charlist-inline justify-content-center align-self-center w170 pt-3">
                {% if hookups|get_by_dict_key:'SK_DDG' %}
                <div class="btn-group dropend">
                    <span class="position-absolute top-0 start-100 translate-middle btn btn-success dropdown-toggle badge rounded-circle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    </span>
                    <ul class="dropdown-menu w400">
                        {% for hint in hookups|get_by_dict_key:'SK_DDG' %}
                        <li class="dropdown-item text-wrap">
                            <p class="text-break">{{ hint.description|get_by_dict_key:lang }} <b>({% if lang == 'ru' %}от{% else %}from{% endif %}:{{ hint.talent_name|get_by_dict_key:lang }})</b></p>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                <div class="ps-3">
                    <b>{{ facade.skill_descriptions|get_by_dict_key:'SK_DDG'|get_skdescr_name:lang }}</b>
                </div>
            </div>
            <div class="justify-content-center align-self-center">
                <button class="btn btn-outline-dark disabled align-self-center fs-4 mb-2">
                    {% get_skill_diff character 'SK_DDG' 'ST_AG' %}
                </button>
            </div>
        </div>
        <div class="card justify-content-center w170">
            <div class="charlist-inline justify-content-center w170 pt-3 align-self-center">
                {% if hookups|get_by_dict_key:'SK_PAR' %}
                <div class="btn-group dropend">
                    <span class="position-absolute top-0 start-100 translate-middle btn btn-success dropdown-toggle badge rounded-circle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    </span>
                    <ul class="dropdown-menu w400">
                        {% for hint in hookups|get_by_dict_key:'SK_PAR' %}
                        <li class="dropdown-item text-wrap">
                            <p class="text-break">{{ hint.description|get_by_dict_key:lang }} <b>({% if lang == 'ru' %}от{% else %}from{% endif %}:{{ hint.talent_name|get_by_dict_key:lang }})</b></p>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                <div class="ps-3">
                    <b>{{ facade.skill_descriptions|get_by_dict_key:'SK_PAR'|get_skdescr_name:lang }}</b>
                </div>
            </div>
            <div class="justify-content-center align-self-center">
                <button class="btn btn-outline-dark disabled align-self-center fs-4 mb-2">
                    {% get_skill_diff character 'SK_PAR' 'ST_WS' %}
                </button>
            </div>
        </div>
        <div class="card justify-content-center w170">
            <div class="charlist-inline justify-content-center align-self-center w170 pt-3">
                {% if hookups|get_by_dict_key:'IN' %}
                <div class="btn-group dropend">
                    <span class="position-absolute top-0 start-100 translate-middle btn btn-success dropdown-toggle badge rounded-circle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    </span>
                    <ul class="dropdown-menu w400">
                        {% for hint in hookups|get_by_dict_key:'IN' %}
                        <li class="dropdown-item text-wrap">
                            <p class="text-break">{{ hint.description|get_by_dict_key:lang }}
                                <b>({% if lang == 'ru' %}от{% else %}from{% endif %}:{{ hint.talent_name|get_by_dict_key:lang }})</b>
                            </p>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                <div class="ps-3 text-center">
                    <b>{% if lang == 'ru' %}Инициатива{% else %}Initiative{% endif %}</b>
                </div>
            </div>
            <div class="justify-content-center align-self-center">
                <button class="btn btn-outline-dark disabled align-self-center fs-4 mb-2">
                    {% with character.stats|get_by_dict_key:'ST_AG' as stat %}
                        1d10+{{ stat.bonus }}
                    {% endwith %}
                </button>
            </div>
        </div>
    </div>
    <div class="text-center mt-2">
        <p class="text-dark fs-4">
            <b>{% if lang == 'ru' %}Перемещение{% else %}Movement{% endif %}:</b>
        </p>
    </div>
    <div class="card-group justify-content-center align-self-center">
        <div class="card justify-content-center w170">
            <div class="charlist-inline justify-content-center w170 pt-3 align-self-center">
                <div class="ps-3">
                    <b>{% if lang == 'ru' %}Полу{% else %}Half{% endif %}</b>
                </div>
            </div>
            <div class="justify-content-center align-self-center">
                <button class="btn btn-outline-dark disabled align-self-center fs-4 mb-2">
                    {{ character.half_move }}
                </button>
            </div>
        </div>
        <div class="card justify-content-center w170">
            <div class="charlist-inline justify-content-center w170 pt-3 align-self-center">
                <div class="ps-3">
                    <b>{% if lang == 'ru' %}Полное{% else %}Full{% endif %}</b>
                </div>
            </div>
            <div class="justify-content-center align-self-center">
                <button class="btn btn-outline-dark disabled align-self-center fs-4 mb-2">
                    {{ character.full_move }}
                </button>
            </div>
        </div>
        <div class="card justify-content-center w170">
            <div class="charlist-inline justify-content-center w170 pt-3 align-self-center">
                <div class="ps-3">
                    <b>{% if lang == 'ru' %}Натиск{% else %}Charge{% endif %}</b>
                </div>
            </div>
            <div class="justify-content-center align-self-center">
                <button class="btn btn-outline-dark disabled align-self-center fs-4 mb-2">
                    {{ character.charge }}
                </button>
            </div>
        </div>
        <div class="card justify-content-center w170">
            <div class="charlist-inline justify-content-center w170 pt-3 align-self-center">
                <div class="ps-3">
                    <b>{% if lang == 'ru' %}Бег{% else %}Run{% endif %}</b>
                </div>
            </div>
            <div class="justify-content-center align-self-center">
                <button class="btn btn-outline-dark disabled align-self-center fs-4 mb-2">
                    {{ character.run }}
                </button>
            </div>
        </div>
    </div>
    {% include 'combat_card_reminder.html' %}
</div>

