{% load filters %}

<div class="text-center mt-3 mb-2">
    <h5>
        {% if lang == 'ru' %}
            Список доступных Действий (чтобы прочитать о Действии, нажмите на его название).
        {% else %}
            Combat Actions list (click on the Action to see details).
        {% endif %}
    </h5>
</div>

    {% for ca_id, combat_action in facade.combat_actions.items %}
    {% if forloop.counter0|divisibleby:3 %}<div class="card-group align-self-center justify-content-center">{% endif %}
        {% if character %}
            {% include 'combat_action_widget.html' %}
        {% else %}
            {% include 'combat_action_gs_widget.html' %}
        {% endif %}
    {% if forloop.counter|divisibleby:3 or forloop.last %}</div>{% endif %}
    {% endfor %}