{% load filters %}
<div class="charlist-content">
    <div class="charlist-inline justify-content-between">
        <div>
            <b>{% if lang == 'ru' %}Очки Порчи{% else %}Corruption points{% endif %}: &nbsp;</b>
        </div>
        <div>
            <button class="btn btn-outline-dark disabled fs-4">{{ character.corruption_bonus }}</button>
            <button class="btn btn-light disabled fs-5">{{ character.corruption_residue }}</button>
        </div>
        <button class="btn btn-danger" role="button" data-bs-toggle="modal"
                data-bs-target="#gain-corruption-modal-{{ character.id }}">
            Получить
        </button>
        <div class="modal fade" id="gain-corruption-modal-{{ character.id }}" tabindex="-1"
             aria-labelledby="gain-corruption-modal-{{ character.id }}-label">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" id="gain-corruption-modal-{{ character.id }}-label">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">&times;</button>
                    </div>
                    <div class="modal-body">
                        {% with corruption_form as form %}
                            {% include 'gain_corruption_form.html' %}
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div>
            <b>
                {% if lang == 'ru' %}Малигнации{% else %}Malignancies{% endif %}
            </b>
        </div>
        {% for mal in character.malignances %}
        <div>
            <p>
                <a class="text-dark text-decoration-none" role="button" data-bs-toggle="modal" href=""
                    title="Подробнее" data-bs-target="#malignances-{{ lang }}-{{ forloop.counter }}">
                        <i>{{ facade|get_malignance:mal|get_malignance_name:lang }}</i>
                </a>
            </p>
        </div>
        <div class="modal fade" id="malignances-{{ lang }}-{{ forloop.counter }}" tabindex="-1"
             aria-labelledby="#malignances-{{ lang }}-{{ forloop.counter }}-label">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <b id="malignances-{{ lang }}-{{ forloop.counter }}-label">
                        {{ facade|get_malignance:mal|get_malignance_name:lang }}
                    </b>
                    <button>
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        {{ facade|get_malignance:mal|get_malignance_description:lang }}
                    </p>
                </div>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="card card-body">
            <p class="card-text">
                {% if lang == 'ru' %} Отсутствуют {% else %} Empty {% endif %}
            </p>
        </div>
        {% endfor %}
    </div>
    <div>
        <div>
            <b>
                {% if lang == 'ru' %}Мутации{% else %}Mutations{% endif %}
            </b>
        </div>
        {% for mut in character.mutations %}
        <div>
            <p>
                <a class="text-dark text-decoration-none" role="button" data-bs-toggle="modal"
                   href="" title="Подробнее" data-bs-target="#mutations-{{ lang }}-{{ forloop.counter }}">
                    <i>{{ facade|get_mutation:mut|get_mutation_name:lang }}</i>
                </a>
            </p>
        </div>
        <div class="modal fade" id="mutations-{{ lang }}-{{ forloop.counter }}" tabindex="-1"
             aria-labelledby="mutations-{{ lang }}-{{ forloop.counter }}-label">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <b id="mutations-{{ lang }}-{{ forloop.counter }}-label">
                        {{ facade|get_mutation:mut|get_mutation_name:lang }}
                    </b>
                </div>
                <div class="modal-body">
                    <p>
                        {{ facade|get_mutation:mut|get_mutation_description:lang }}
                    </p>
                </div>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="card card-body">
            <p class="card-text">
                {% if lang == 'ru' %} Отсутствуют {% else %} Empty {% endif %}
            </p>
        </div>
        {% endfor %}
    </div>
</div>