{% extends 'charlist_main.html' %}

{% block pg_title %}Create group{% endblock %}

{% block title %}
Чарник ver.{{ version }}&nbsp;|&nbsp;Master edition
{% endblock %}


{% load filters %}

{% block app_content %}
<div class="page-header text-center">
    <h3>Создать группу для кампании {{ season.name }}</h3>
</div>
<hr/>
{% for err in form.non_field_errors %}
<div class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    {{ err }}
</div>
{% endfor %}
<div class="charlist-content justify-content-center">
    <form class="form-horizontal" method="post" action="">
        {% csrf_token %}
        {% regroup form by field.group as field_groups %}
        {% for group in field_groups %}
            {% with forloop as group_loop %}
            {% if group_loop.first or group_loop.counter0|divisibleby:3 or group_loop.counter == 2 %}
                <div class="card-group align-self-center justify-content-center">
            {% endif %}
                    <div class="card">
                        <div class="card-body">
                            <div>
                                <p class="text-center card-title">
                                    <b>
                                        {{ form.group_names|get_by_dict_key:group.grouper }}
                                    </b>
                                </p>
                                <p class="text-center card-subtitle">
                                    {{ form.group_descriptions|get_by_dict_key:group.grouper}}
                                </p>
                            </div>
                        {% for field in group.list %}
                            <div class="form-group charlist-inline justify-content-center mt-2 align-self-center">
                                <label for="{{ field.name }}" class="control-label">{{ field.label }}</label>
                                <div class="col-sm-5 ms-2">
                                    {{ field }}
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                    {% if group_loop.counter|divisibleby:3 or group_loop.last or group.grouper == 'group-data' %}
                </div>
                    {% endif %}
                {% endwith %}
        {% endfor %}
        <div class="form-group charlist-inline justify-content-center mt-2">
            <div class="col-sm-offset-2 col-sm-2">
                <button type="submit" class="btn btn-primary">Создать</button>
            </div>
            <div class="col-sm-offset-2 col-sm-2">
                <a href="{{ season.get_url }}" class="btn btn-danger">Отмена</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}