{% load filters %}
<div class="charlist-inline mt-2 align-items-center">
    <div class="text-center">
        <b>{% if lang == 'ru' %}Усталость{% else %}Fatigue{% endif %}:</b>
    </div>
    <div class="ps-3">
        <b>{{ character.fatigue_current }}/{{ character.fatigue_cap }}</b>
    </div>
    {% if is_owner %}
    {% for err in fatigue_form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        {{ err }}
    </div>
    {% endfor %}
    <form class="form-horizontal" method="post" action="">
        {% csrf_token %}
        <div class="charlist_inline ps-3">
            {% for field in fatigue_form %}
            <div class="form-group charlist-inline justify-content-center mt-2">
                <div class="col-sm-5 ms-2">
                    {{ field }}
                </div>
            </div>
            {% endfor %}
            <button type="submit" name="restoreFatigue" class="btn btn-success">
                {% if lang == 'ru' %}Восстановить{% else %}Restore{% endif %}
            </button>
            <button type="submit" name="gainFatigue" class="btn btn-danger">
                {% if lang == 'ru' %}Получить{% else %}Gain{% endif %}
            </button>
        </div>
    </form>
    {% endif %}
</div>