{% load filters %}
<div class="charlist-inline mt-2 align-content-center">
    <div class="text-center">
        <h5>{% if lang == 'ru' %}Усталость{% else %}Fatigue{% endif %}:</h5>
    </div>
    <div class="ps-3">
        <p class="fs-5">{{ character.fatigue_current }}/{{ character.fatigue_cap }}</p>
    </div>
    <div class="charlist_inline ps-3">
        <input type="range" min="1" max="{% mtp 2.0 character.fatigue_cap %}" step="1">
        <button type="submit" name="restoreFatigue" class="btn btn-success">
            {% if lang == 'ru' %}Восстановить{% else %}Restore{% endif %}
        </button>
        <button type="submit" name="gainFatigue" class="btn btn-danger">
            {% if lang == 'ru' %}Получить{% else %}Gain{% endif %}
        </button>
    </div>
</div>