{% extends 'manual_cmd_form_base.html' %}

{% block filters %}
{% load filters %}
{% endblock %}

{% block form_title %}
Чей-то рассудок не выдерживает... Вы на грани психического расстройства
{% endblock %}

{% block form_controls %}
<div class="col-sm-offset-2 col-sm-2">
    <button type="submit" class="btn btn-danger" name="gain-disorder-confirm">Получить</button>
</div>
<div class="col-sm-offset-2 col-sm-2">
    <button type="submit" class="btn btn-success" name="gain-disorder-abort">Ваша воля держится... пока что</button>
</div>
{% endblock %}