{% extends 'manual_cmd_form_base.html' %}

{% block filters %}
{% load filters %}
{% endblock %}

{% block form_title %}
Ваша душа серьезно запятнана... И это вот-вот скажется на теле
{% endblock %}

{% block form_controls %}
<div class="col-sm-offset-2 col-sm-4">
    <button type="submit" class="btn btn-danger" name="gain-mut-confirm">Получить</button>
</div>
<div class="col-sm-offset-2 col-sm-4">
    <button type="submit" class="btn btn-success" name="gain-mut-abort">Ваша воля держится... пока что</button>
</div>
{% endblock %}