{% extends 'manual_cmd_form_base.html' %}

{% block filters %}
{% load filters %}
{% endblock %}

{% block form_title %}
Получите специализацию в таланте&nbsp;
{% with facade.talent_descriptions|get_by_dict_key:form.tl_tag as tl %}
    {{ tl.name|get_by_dict_key:'en' }}
{% endwith %}
{% endblock %}

{% block form_controls %}
<div class="col-sm-offset-2 col-sm-2 align-self-center">
    <input type="hidden" name="skill_tag" value="{{ form.tl_tag }}">
    <button type="submit" class="btn btn-primary" name="talent-spec-confirm">Выбрать</button>
</div>
{% endblock %}