{% extends 'charlist_main.html' %}

{% load filters %}

{% block pg_title %}
Group&nbsp;{{ group.name }}&nbsp;from&nbsp;{{ group.season.name }}&nbsp;campaign
{% endblock %}

{% block title %}
Чарник ver.{{ version }}&nbsp;|&nbsp;Master edition
{% endblock %}

{% block app_content %}
<header class="page-header text-center">
    <h4>{{ group.name }}</h4>
    <p><i>{{ group.description }}</i></p>
</header>

<div class="charlist_container">
    <div>
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" data-bs-toggle="tab" id="g-info-tab" href="#g-info-card" aria-current="page">
                    Информация о группе
                </a>
            </li>
            {% if is_master %}
            <li class="nav-item" role="presentation">
                <a class="nav-link" data-bs-toggle="tab" id="m-notes-tab" href="#m-notes-card" aria-current="page">
                    Заметки
                </a>
            </li>
            {% endif %}
            {% if is_captain or group_member %}
            <li class="nav-item" role="presentation">
                <a class="nav-link" data-bs-toggle="tab" id="g-notes-tab" href="#g-notes-card" aria-current="page">
                    Заметки
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>

<div class="card tab-content">
<div class="tab-pane fade show charlist-container active" id="g-info-card" role="tabpanel" aria-labelledby="g-info-tab">
<div class="d-flex flex-column justify-content-center align-self-center">
    <div class="card-group">
        <div class="card">
            <div class="text-center mt-3">
                {% if is_master %}
                    <h5>Компромат, то есть это, интересные факты: </h5>
                {% else %}
                    <h5>Перечень доблестей и достоинств, присущих членам сего собрания:</h5>
                {% endif %}
            </div>
            <div class="mt-2 fact-viewer">
                {% include 'facts_viewer.html' %}
            </div>
        </div>
        <div class="card ">
            <div class="text-center">
                <h5>Персонажи</h5>
            </div>
            <div class="d-flex flex-column justify-content-center align-self-center">
                {% for character in characters %}
                    <div>
                        <b><a class="fs-5" href="{{ character.get_view_url }}">
                            {% with char_data|get_by_dict_key:character.pk as char_mod %}
                                {{ char_mod.name }}
                            {% endwith %}
                        </a></b>
                    </div>
                {% endfor %}
            </div>
            <div class="text-center">
                <h5>{% if group.is_rt %}Профит-фактор{% else %}Влияние{% endif %}{% if is_master %}&nbsp;и опыт{% endif %}</h5>
            </div>
            {% if is_master or is_captain %}
                {% include 'group_ifl_widget.html' %}
            {% endif %}
            {% if is_master %}
                {% with xp_form as form %}
                    {% include 'group_xp_giver.html' %}
                {% endwith %}
            {% endif %}
        </div>
    </div>
</div>
</div>

{% if is_master %}
<div class="tab-pane fade show charlist-container" id="m-notes-card" role="tabpanel" aria-labelledby="m-notes-tab">
    <header class="text-center">
        <h4>Заметки</h4>
    </header>
    <div class="doc-embed">
        {% if ms_notes_url %}
            <iframe src="{{ ms_notes_url }}" height="760" width="1200"></iframe>
        {% else %}
            <b>Ссылки на заметки пока нет.</b>
        {% endif %}
    </div>
    <div>
        {% with master_notes as form %}
            {% include 'master_notes_link_form.html' %}
        {% endwith %}
    </div>
</div>
{% endif %}

{% if is_captain or group_member %}
<div class="tab-pane fade show charlist-container" id="g-notes-card" role="tabpanel" aria-labelledby="g-notes-tab">
    <header class="text-center">
        <h4>Заметки</h4>
    </header>
    <div class="doc-embed">
        {% if gr_notes_url %}
            <iframe src="{{ gr_notes_url }}" height="760" width="1200"></iframe>
        {% else %}
            <b>Ссылки на заметки пока нет.</b>
        {% endif %}
    </div>
    {% if is_captain %}
    <div>
        {% with group_notes as form %}
            {% include 'group_notes_link_form.html' %}
        {% endwith %}
    </div>
    {% endif %}
</div>
{% endif %}
</div>
{% if never_happens %}
    <div class="d-flex flex-column justify-content-center align-self-center mt-3">
        <div class="text-center">
            <h5>Сессии</h5>
        </div>
        <div class="d-flex flex-column justify-content-center align-self-center mt-2">
            <div class="text-center mb-2">
                <p class="text-dark"><b>Активные</b></p>
            </div>
            <div class="d-flex flex-column justify-content-center align-self-center">
                {% for session in active %}
                <div class="text-center">
                    <a href="{{ session.get_url }}">{{ session.name }}</a>
                </div>
                {% empty %}
                <div class="text-center text-dark">
                    <p><b>В настоящий момент у группы не запланировано игр.</b></p>
                </div>
                {% endfor %}
                {% if is_master %}
                    <div class="charlist-inline justify-content-center align-self-center mb-1 mt-2 text-center">
                        <b class="text-dark">
                            <a href="" class="text-dark text-decoration-none" role="button" data-bs-toggle="modal"
                               data-bs-target="#g{{group.id}}-create-session-popup" title="Создать сессию">
                                Запланировать сессию
                            </a>
                        </b>
                    </div>
                    <div class="modal fade" id="g{{group.id}}-create-session-popup" tabindex="-1"
                         aria-labelledby="g{{group.id}}-create-session-popup-label">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                            <div class="modal-header">
                                <b class="g{{group.id}}-create-session-popup-label">
                                    Создать сессию для группы {{ group.name }}
                                </b>
                            </div>
                        </div>
                        <div class="modal-body">
                            <div class="text-center mb-2">
                                <p class="text-dark">Какую сессию создать?</p>
                            </div>
                            <div class="charlist-inline justify-content-center align-self-center">
                                <div>
                                    <a role="button" class="btn btn-primary" href="{{ group.get_create_session_link }}">
                                        Обычная сессия
                                    </a>
                                </div>
                                <div>
                                <div>
                                    <a role="button" class="btn btn-success" href="{{ group.get_create_crossover_link }}">
                                        Кроссовер
                                    </a>
                                </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="d-flex flex-column justify-content-center align-self-center">
            <div class="text-center">
                <p class="text-dark"><b>Завершенные</b></p>
            </div>
            <div class="d-flex flex-column justify-content-center align-self-center">
                {% for session in finished %}
                <div class="text-center">
                    <a href="{{ session.get_url }}">{{ session.name }}</a>
                </div>
                {% empty %}
                <div class="text-center text-dark">
                    <p><b>Группа еще ни разу не играла.</b></p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}
<div class="charlist-inline justify-content-center align-self-center mt-2 mb-1">
    <div class="me-2">
        <a role="button" class="btn btn-primary" href="{{ group.season.get_url }}">К кампании</a>
    </div>
    <div class="ms-2">
        <a role="button" class="btn btn-success" href="{% url 'seasons-list' %}">К списку кампаний</a>
    </div>
</div>
{% if is_master %}
<div class="charlist-inline justify-content-center align-self-center">
    <div class="me-2 mt-1">
        <a role="button" class="btn btn-success" href="{{ group.get_edit_link }}">Редактировать</a>
    </div>
    <div class="ms-2 mt-1">
        <a role="button" class="btn btn-danger" href="{{ group.get_delete_link }}">Удалить</a>
    </div>
</div>
{% endif %}
{% endblock %}