{% extends 'charlist_main.html' %}

{% load filters %}

{% block pg_title %}
Group&nbsp;{{ group.name }}&nbsp;from&nbsp;{{ group.season.name }}&nbsp;campaign
{% endblock %}

{% block title %}
Чарник ver.{{ version }}&nbsp;|&nbsp;Master edition
{% endblock %}

{% block app_content %}
<header class="page-header text-center">
    <h4>{{ group.name }}</h4>
    <p><i>{{ group.description }}</i></p>
</header>
<div class="d-flex flex-column justify-content-center align-self-center">
    <div class="card-group">
        <div class="card">
            <div class="text-center">
                <h5>Персонажи</h5>
            </div>
            <div class="d-flex flex-column justify-content-center align-self-center">
                {% for character in characters %}
                    <div>
                        <b><a class="fs-5" href="{{ character.get_view_url }}">
                            {% with char_data|get_by_dict_key:character.pk as char_mod %}
                                {{ char_mod.name }}
                            {% endwith %}
                        </a></b>
                    </div>
                {% endfor %}
            </div>
            {% if is_master %}
            <div class="text-center">
                <h5>Компромат, то есть это, интересные факты: </h5>
                {% include 'facts_viewer.html' %}
            </div>
            {% endif %}
        </div>
        <div class="card">
            <div class="text-center">
                <h5>{% if group.is_rt %}Профит-фактор{% else %}Влияние{% endif %}{% if is_master %}&nbsp;и опыт{% endif %}</h5>
            </div>
            {% if is_master or is_captain %}
                {% include 'group_ifl_widget.html' %}
            {% endif %}
            {% if is_master %}
                {% with xp_form as form %}
                    {% include 'group_xp_giver.html' %}
                {% endwith %}
            {% endif %}
        </div>
    </div>
    <div class="d-flex flex-column justify-content-center align-self-center">
        <div class="text-center">
            <h5>Сессии</h5>
        </div>
        <div class="charlist-inline justify-content-center align-self-center">
            <div class="text-center">
                <p class="text-dark"><b>Активные</b></p>
            </div>
            <div class="d-flex flex-column justify-content-center align-self-center">
                {% for session in active %}
                <div class="text-center">
                    <a href="{{ session.get_url }}">{{ session.name }}</a>
                </div>
                {% empty %}
                <div class="text-center text-dark">
                    <p><b>В настоящей момент у группы не запланировано игр.</b></p>
                </div>
                {% endfor %}
                {% if is_master %}
                    <div class="charlist-inline justify-content-center align-self-center mb-1 mt-2 text-center">
                        <b class="text-dark">
                            <a href="" class="text-dark text-decoration-none" role="button" data-bs-toggle="modal"
                               data-bs-target="#g{{group.id}}-create-session-popup" title="Создать сессию">
                                Запланировать сессию
                            </a>
                        </b>
                    </div>
                    <div class="modal fade" id="g{{group.id}}-create-session-popup" tabindex="-1"
                         aria-labelledby="g{{group.id}}-create-session-popup-label">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                            <div class="modal-header">
                                <b class="g{{group.id}}-create-session-popup-label">
                                    Создать сессию для группы {{ group.name }}
                                </b>
                            </div>
                        </div>
                        <div class="modal-body">
                            <div class="text-center mb-2">
                                <p class="text-dark">Какую сессию создать?</p>
                            </div>
                            <div class="charlist-inline justify-content-center align-self-center">
                                <div>
                                    <a role="button" class="btn btn-primary" href="{{ group.get_create_session_link }}">
                                        Обычная сессия
                                    </a>
                                </div>
                                <div>
                                <div>
                                    <a role="button" class="btn btn-success" href="{{ group.get_create_crossover_link }}">
                                        Кроссовер
                                    </a>
                                </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="charlist-inline justify-content-center align-self-center">
            <div class="text-center">
                <p class="text-dark"><b>Завершенные</b></p>
            </div>
            <div class="d-flex flex-column justify-content-center align-self-center">
                {% for session in finished %}
                <div class="text-center">
                    <a href="{{ session.get_url }}">{{ session.name }}</a>
                </div>
                {% empty %}
                <div class="text-center text-dark">
                    <p><b>Группа еще ни разу не играла.</b></p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="charlist-inline justify-content-center align-self-center">
    <div>
        <a role="button" class="btn btn-primary" href="{{ group.season.get_url }}">К кампании</a>
    </div>
    <div>
        <a role="button" class="btn btn-success" href="{% url 'seasons-list' %}">К списку кампаний</a>
    </div>
</div>
{% if is_master %}
<div class="charlist-inline justify-content-center align-self-center">
    <div>
        <a role="button" class="btn btn-success" href="{{ group.get_edit_link }}">Редактировать</a>
    </div>
    <div>
        <a role="button" class="btn btn-danger" href="{{ group.get_delete_link }}">Удалить</a>
    </div>
</div>
{% endif %}
{% endblock %}