{% load filters %}
<div class="charlist-content">
    <div class="charlist-inline justify-content-between">
        <div class="charlist-inline justify-content-between">
            <div>
                <b>{% if lang == 'ru' %}Очки Безумия{% else %}Insanity points{% endif %}: &nbsp;</b>
            </div>
            {% if hookups|get_by_dict_key:'IP' %}
            <div class="btn-group dropend">
                <span class="position-absolute top-0 start-100 translate-middle btn btn-success dropdown-toggle badge rounded-circle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                </span>
                <ul class="dropdown-menu w400">
                    {% for hint in hookups|get_by_dict_key:'IP' %}
                    <li class="dropdown-item text-wrap">
                        <p class="text-break">{{ hint.description|get_by_dict_key:lang }} <b>({% if lang == 'ru' %}от{% else %}from{% endif %}:{{ hint.talent_name|get_by_dict_key:lang }})</b></p>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
        <div>
            <button class="btn btn-outline-dark disabled fs-4">{{ character.insanity_bonus }}</button>
            <button class="btn btn-light disabled fs-5">{{ character.insanity_residue }}</button>
        </div>
        {% if is_owner %}
        <button class="btn btn-danger" role="button" data-bs-toggle="modal"
                data-bs-target="#gain-insanity-modal-{{ character.id }}-{{lang}}">
            {% if lang == 'ru' %}Получить{% else %}Gain{% endif %}
        </button>
        <div class="modal fade" tabindex="-1" id="gain-insanity-modal-{{ character.id }}-{{lang}}"
             aria-labelledby="gain-insanity-modal-{{ character.id }}-{{lang}}-label">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header" id="gain-insanity-modal-{{ character.id }}-{{lang}}-label">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">&times;</button>
                    </div>
                    <div class="modal-body">
                        {% with insanity_form as form %}
                            {% include 'gain_insanity_form.html' %}
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    <div>
        <b class="collapse-toggler">
            <a class="text-dark text-decoration-none" role="button" data-bs-toggle="collapse"
               href="#mental-disorders-{{ lang }}" title="Подробнее" aria-expanded="false" aria-controls="mental-disorders-{{ lang }}">
                <i>{% if lang == 'ru' %}Ментальные расстройства{% else %}Mental disorders{% endif %}</i>
            </a>
        </b>
    </div>
    <div class="charlist-content" id="mental-disorders-{{ lang }}">
        {% for disorder in character.disorders %}
        <div>
            <p>
                <a class="text-dark text-decoration-none" role="button" data-bs-toggle="modal" href=""
                   data-bs-target="#c{{ character.id }}-disorder-{{ forloop.counter }}-popup">
                    {{ disorder|get_by_dict_key:'name' }}
                </a>
            </p>
        </div>
        <div class="modal fade" id="c{{ character.id }}-disorder-{{ forloop.counter }}-popup" tabindex="-1"
             aria-labelledby="c{{ character.id }}-disorder-{{ forloop.counter }}-popup-label">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <b id="c{{ character.id }}-disorder-{{ forloop.counter }}-popup-label">
                            {{ disorder|get_by_dict_key:'name' }}
                        </b>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>{{ disorder|get_by_dict_key:'description' }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
            {% if lang == 'ru' %}Отсутствуют{% else %}Empty{% endif %}
        {% endfor %}
    </div>
</div>