{% load filters %}
<div class="charlist-content">
    <div class="charlist-inline justify-content-between">
        <div class="charlist-inline justify-content-between">
            <div>
                <h5>{% if lang == 'ru' %}Очки Безумия{% else %}Insanity points{% endif %}: &nbsp;</h5>
            </div>
            {% if hookups|get_by_dict_key:'IP' %}
            <div class="btn-group dropend">
                <span class="position-absolute top-0 start-100 translate-middle btn btn-success dropdown-toggle badge rounded-circle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                </span>
                <ul class="dropdown-menu w400">
                    {% for hint in hookups|get_by_dict_key:'IP' %}
                    <li class="dropdown-item text-wrap">
                        <p class="text-break">{{ hint.description|get_by_dict_key:lang }} <b>({% if lang == 'ru' %}от{% else %}from{% endif %}:{{ hint.talent_name|get_by_dict_key:lang }})</b></p>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
        <div>
            <button class="btn btn-outline-dark btn-lg disabled fs-4">{{ character.insanity_bonus }}</button>
            <button class="btn btn-info btn-lg disabled fs-6">{{ character.insanity_residue }}</button>
        </div>
        <button class="btn btn-danger" role="button" data-bs-toggle="modal"
                data-bs-target="#gain-insanity-modal-{{ character.pk }}">
            Получить
        </button>
        <div class="modal fade" tabindex="-1" id="gain-insanity-modal-{{ character.pk }}"
             aria-labelledby="gain-insanity-modal-{{ character.pk }}-label">
            <div class="modal-header" id="gain-insanity-modal-{{ character.pk }}-label">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">&times;</button>
            </div>
            <div class="modal-body">
                {% include 'gain_insanity_form_cw.html' %}
            </div>
        </div>
    </div>
    <div>
        <h5 class="collapse-toggler">
            <a class="text-dark text-decoration-none" role="button" data-bs-toggle="collapse"
               href="#mental-disorders-{{ lang }}" title="Подробнее" aria-expanded="false" aria-controls="mental-disorders-{{ lang }}">
                <i>{% if lang == 'ru' %}Ментальные расстройства{% else %}Mental disorders{% endif %}</i>
            </a>
        </h5>
    </div>
    <div class="collapse" id="mental-disorders-{{ lang }}">
        {% for disorder in character.disorders %}
            {{ disorder }}
        {% empty %}
            {% if lang == 'ru' %}Отсутствуют{% else %}Empty{% endif %}
        {% endfor %}
    </div>
</div>