{% extends 'base-wide.html' %}

{% block pg_title %}Main{% endblock %}
{% block title %}Главная{% endblock %}

{% block app_content %}
<div class="column align-items-center">
<header class="page-header text-center">
    <h4>Добро пожаловать в скватский инструментарий!</h4>
</header>
<div class="card-group justify-content-center mt-5">
    <div class="card">
        <div class="card-body text-center">
            <h5 class="card-title"><b>Имягенератор</b></h5>
            <br>
            <p class="card-subtitle">
                Может выдумать персонажу имя. Не факт, что его будет просто выговорить.
            </p>
            <br>
            <a class="btn btn-primary btn-large" href="{% url 'namegen' %}" role="button">Перейти</a>
        </div>
        <div class="card-footer text-center">
            <p>ver.{{ ng_ver }}</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body text-center">
            <h5 class="card-title"><b>Чарник</b></h5>
            <p class="card-subtitle">
                Страшная штука, вроде бы есть, а ее вроде нет... Где-то здесь была табличка "не влезай - убьет!"...
            </p>
            {% if user.is_authenticated and user.is_active %}
            <a class="btn btn-primary btn-large" href="{% url 'characters-list' %}" role="button">
                К списку персонажей
            </a>
            {% if user.is_master %}
            <a class="btn btn-success btn-large" href="#" role="button">
                К группам и кампейнам
            </a>
            {% endif %}
            {% else %}
            <a class="btn btn-primary btn-large" href="{% url 'signin' %}" role="button">
                Войти
            </a>
            <a class="btn btn-success btn-large" href="{% url 'signup' %}" role="button">
                Зарегистрироваться
            </a>
            {% endif %}
        </div>
        <div class="card-footer text-center">
            <p>v.{{ ch_ver }}</p>
        </div>
    </div>
</div>
</div>
{% endblock %}