{% load filters %}
{% with facade.origins|get_by_dict_key:character.origin as origin %}
<div class="charlist-inline">
    <div>
        <b>
            {% if lang == 'ru' %}Происхождение{% else %}Origin{% endif %}:&nbsp;
            <a class="text-dark text-decoration-none" data-bs-toggle="modal" href="" role="button"
               data-bs-target="#originInfo-{{ lang }}" title="Подробнее">
               <i>{% if lang == 'ru' %}{{ origin.get_name_ru }}{% else %}origin.get_name_en{% endif %}</i>
            </a>
        </b>
    </div>
</div>
<div class="modal fade" id="originInfo-{{ lang }}" tabindex="-1" aria-labelledby="#originInfo-{{ lang }}-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <b>{% if lang == 'ru' %}{{ origin.get_name_ru }}{% else %}origin.get_name_en{% endif %}</b>
            </div>
            <hr>
            <div class="modal-body">
                <p>{% if lang == 'ru' %}{{ origin.get_description_ru }}{% else %}origin.get_description_en{% endif %}</p>
            </div>
        </div>
    </div>
</div>
{% endwith %}