{% load filters %}

<div class="card card-body" id="c{{ character.id }}-skills-{{ lang }}">
    <header class="text-center">
        <h5>{% if lang == 'ru' %}Умения{% else %}Skills{% endif %}</h5>
    </header>
    <div class="charlist-inline">
        {% for skill_tag, skill in character.skills.items %}
            {% if forloop.counter0|divisibleby:10 or forloop.first %}
                <table class="table table-fixed align-middle table-striped text-center">
                    <thead>
                        <th scope="col" class="th-lg">{% if lang == 'ru'%}Умение{% else %}Skill{% endif %}</th>
                        <th scope="col" colspan="2" class="w-auto">{% if lang == 'ru' %}Характеристика{% else %}Characteristic{% endif %}</th>
                        <th scope="col" class="w-auto">{% if lang == 'ru' %}Улучш.{% else %}Adv.{% endif %}</th>
                        <th scope="col" class="w-auto">{% if lang == 'ru' %}Итого{% else %}Total{% endif %}</th>
                    </thead>
                    <tbody>
            {% endif %}
                        <tr>
                            {% with facade.skill_descriptions|get_by_dict_key:skill_tag as skill_descr %}
                            <th scope="row" class="fs-5">
                                <a href="" class="text-dark text-decoration-none" role="button" data-bs-toggle="modal"
                           data-bs-target="#c{{ character.id }}-{{ skill_tag }}-{{ lang }}-info" title="Подробнее">
                                    <i>
                                    {% if lang == 'ru' %}
                                        {{ skill_descr.get_name_ru }}
                                    {% else %}
                                        {{ skill_descr.get_name_en }}
                                    {% endif %}
                                    </i>
                                </a>
                            </th>
                            <div class="modal fade" id="c{{ character.id }}-{{ skill_tag }}-{{ lang }}-info" tabindex="-1"
                         aria-labelledby="c{{ character.id }}-{{ skill_tag }}-{{ lang }}-info-label">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5  class="modal-title text-center"
                                         id="c{{ character.id }}-{{ skill_tag }}-{{ lang }}-info-label">
                                        <strong>
                                            {% if lang == 'ru' %}
                                                {{ skill_descr.get_name_ru }}
                                            {% else %}
                                                {{ skill_descr.get_name_en }}
                                            {% endif %}
                                            &nbsp;(
                                            {% with facade.stat_descriptions|get_by_dict_key:skill_descr.stat as stat %}
                                                {% if lang == 'ru' %}
                                                    {{ stat.get_name_ru }}
                                                {% else %}
                                                    {{ stat.get_name_en }}
                                                {% endif %}
                                            {% endwith %}
                                            )
                                        </strong>
                                    </h5>
                                </div>
                                <div class="modal-body">
                                    <p class="card-text">
                                        {% if lang == 'ru' %}
                                            {{ skill_descr.get_description_ru }}
                                        {% else %}
                                            {{  skill_descr.get_description_en }}
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                            <td>
                                <b>
                                {% with facade.stat_descriptions|get_by_dict_key:skill_descr.stat as stat %}
                                {% if lang == 'ru' %}
                                    {{ stat.get_short_name_ru }}
                                {% else %}
                                    {{ stat.get_short_name_en }}
                                {% endif %}
                                {% endwith %}
                                </b>
                            </td>
                            <td>
                                {% with character.stats|get_by_dict_key:skill_descr.stat as stat %}
                                    {{ stat.value }}
                                {% endwith %}
                            </td>
                            <td>{{ skill.adv_bonus }}</td>
                            <td class="fs-5">
                                {% get_skill_diff character skill_tag skill_descr.stat %}
                            </td>
                            {% endwith %}
                        </tr>
            {% if forloop.counter|divisibleby:10 or forloop.last %}
                    </tbody>
                </table>
            {% endif %}
        {% endfor %}
    </div>
</div>