{% load filters %}

<div class="card card-body" id="stats-{{ lang }}">
    <header class="text-center">
        <h5>
            {% if lang == 'ru' %}Характеристики{% else %}Characteristics{% endif %}
        </h5>
    </header>
    <div class="charlist-content">
        <table class="table">
            <thead>
                <th></th>
                {% for stat_key in facade.stat_tags %}
                    {% with facade.stat_descriptions|get_by_dict_key:stat_key as stat %}
                    <th scope="col" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-html="true" title="{% if lang == 'ru'%}<strong>{{ stat.get_name_ru }}</strong><br><hr><br><p>{{ stat.get_description_ru }}</p>{% else %}<strong>{{ stat.get_name_en }}</strong><br><hr><br><p>{{ stat.get_description_en }}</p>{% endif %}">
                        {% if lang == 'ru' %}
                            {{ stat.get_short_name_ru }}
                        {% else %}
                            {{ stat.get_short_name_en }}
                        {% endif %}
                    </th>
                    {% endwith %}
                {% endfor %}
            </thead>
            <tbody>
                <tr>
                    <th scope="row">
                        {% if lang == 'ru' %} База {% else %} Base {% endif %}
                    </th>
                    {% for stat in facade.stat_tags %}
                        {% with character.stats|get_by_dict_key:stat as c_stat %}
                        <td>{{ c_stat.get_base }}</td>
                        {% endwith %}
                    {% endfor %}
                </tr>
                <tr>
                    <th scope="row">
                        {% if lang == 'ru' %} Улучшения {% else %} Advances {% endif %}
                    </th>
                    {% for stat in facade.stat_tags %}
                        {% with character.stats|get_by_dict_key:stat as c_stat %}
                        <td>{{ c_stat.advances }}</td>
                        {% endwith %}
                    {% endfor %}
                </tr>
                <tr>
                    <th scope="row">
                        {% if lang == 'ru' %} Значение {% else %} Value {% endif %}
                    </th>
                    {% for stat in facade.stat_tags %}
                        {% with character.stats|get_by_dict_key:stat as c_stat %}
                        <td class="fs-5"><strong class="fs-4">{{ c_stat.bonus }}</strong>{{ c_stat.residue }}</td>
                        {% endwith %}
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
</div>