{% load filters %}

<div class="card card-body im-stats-widget" id="c{{ character.id }}-stats-{{ lang }}">
    <header class="text-center">
        <h5>
            {% if lang == 'ru' %}Характеристики{% else %}Characteristics{% endif %}
        </h5>
    </header>
    <div class="charlist-content">
        <table class="table table-striped-columns align-middle text-center">
            <thead>
                <th></th>
                {% for stat_key in facade.stat_tags %}
                    {% with facade.stat_descriptions|get_by_dict_key:stat_key as stat %}
                    <th scope="col">
                        <a href="" class="text-dark text-decoration-none" role="button" data-bs-toggle="modal"
                           data-bs-target="#c{{ character.id }}-{{ stat.get_tag }}-{{ lang }}-info" title="Подробнее">
                        {% if lang == 'ru' %}
                            {{ stat.get_short_name_ru }}
                        {% else %}
                            {{ stat.get_short_name_en }}
                        {% endif %}
                        </a>
                    </th>
                    <div class="modal fade" id="c{{ character.id }}-{{ stat.get_tag }}-{{ lang }}-info" tabindex="-1"
                         aria-labelledby="c{{ character.id }}-{{ stat.get_tag }}-{{ lang }}-info-label">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5  class="modal-title text-center"
                                         id="c{{ character.id }}-{{ stat.get_tag }}-{{ lang }}-info-label">
                                        <strong>
                                            {% if lang == 'ru' %}
                                                {{ stat.get_name_ru }}
                                            {% else %}
                                                {{ stat.get_name_en }}
                                            {% endif %}
                                        </strong>
                                    </h5>
                                </div>
                                <div class="modal-body">
                                    <p class="card-text">
                                        {% if lang == 'ru' %}
                                            {{ stat.get_description_ru }}
                                        {% else %}
                                            {{  stat.get_description_en }}
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endwith %}
                {% endfor %}
            </thead>
            <tbody>
                <tr>
                    <th scope="row">
                        {% if lang == 'ru' %} База {% else %} Base {% endif %}
                    </th>
                    {% for stat in facade.stat_tags %}
                        {% with character.stats|get_by_dict_key:stat as c_stat %}
                        <td>{{ c_stat.get_base }}</td>
                        {% endwith %}
                    {% endfor %}
                </tr>
                <tr>
                    <th scope="row">
                        {% if lang == 'ru' %} Улучшения {% else %} Advances {% endif %}
                    </th>
                    {% for stat in facade.stat_tags %}
                        {% with character.stats|get_by_dict_key:stat as c_stat %}
                        <td>{{ c_stat.advances }}</td>
                        {% endwith %}
                    {% endfor %}
                </tr>
                <tr>
                    <th scope="row">
                        {% if lang == 'ru' %} Значение {% else %} Value {% endif %}
                    </th>
                    {% for stat in facade.stat_tags %}
                        {% with character.stats|get_by_dict_key:stat as c_stat %}
                        <td class="fs-5"><strong class="fs-4">{{ c_stat.bonus }}</strong>{{ c_stat.residue }}</td>
                        {% endwith %}
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
</div>