{% load filters %}

<div class="charlist-inline justify-content-center align-self-center">
    {% for err in form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        {{ err }}
    </div>
    {% endfor %}
    <div class="charlist-content justify-content-center align-self-center">
        <form class="form-horizontal" method="post" action="">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group charlist-inline justify-content-center mt-2">
                <label for="{{ field.name }}" class="col-sm-4 control-label">{{ field.label }}</label>
                <div class="col-sm-5 ms-4">
                    {{ field }}
                </div>
            </div>
            {% endfor %}
            <div class="form-group charlist-inline justify-content-center align-self-center mt-2">
                <div class="col-sm-offset-2 col-sm-2">
                    <button type="submit" class="btn btn-primary" name="ms-link-change">Изменить</button>
                </div>
            </div>
        </form>
    </div>
</div>