{% load filters %}

{% with facade.psy_schools|get_by_dict_key:school as ps %}
<header class="text-center w300">
    <b>
        <i>
            <a href="" class="text-dark text-decoration-none" role="button" data-bs-toggle="modal"
               data-bs-target="#c{{character.id}}-{{ school }}-{{ lang }}-info" title="Подробнее">
                {{ ps.names|get_by_dict_key:lang }}
            </a>
        </i>
    </b>
</header>

<div class="modal fade" id="c{{character.id}}-{{ school }}-{{ lang }}-info" tabindex="-1"
     aria-labelledby="c{{character.id}}-{{ school }}-{{ lang }}-upg-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <b id="c{{character.id}}-{{ school }}-{{ lang }}-info-label">
                    {{ ps.names|get_by_dict_key:lang }}
                </b>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="text-dark">{{ ps.descriptions|get_by_dict_key:lang }}</p>
            </div>
        </div>
    </div>
</div>
{% endwith %}