{% block loaders %}
{% load filters %}
{% endblock %}

<div>
    {% with forms|get_by_dict_key:'psy' as psy_powers %}
    {% for availability, schools in psy_powers.items %}
        <header class="text-center">
            <b>
                {% if availability == 'available' %}
                    {% if lang == 'ru' %}Доступно{% else %}Available{% endif %}
                {% endif %}
                {% if availability == 'unavailable' %}
                    {% if lang == 'ru' %}Недоступно{% else %}Unavailable{% endif %}
                {% endif %}
            </b>
        </header>
        {% for school, powers in schools.items %}
            {% if forloop.counter0|divisibleby:3 %}
                <div class="card-group">
            {% endif %}
                    {% include 'psy_school_widget.html' %}
                    <div class="card charlist-content talents-list">
                        {% for form in powers %}
                            {% include 'psy_power_upgrade_form.html' %}
                        {% endfor %}
                    </div>
            {% if forloop.counter|divisibleby:3 or forloop.last %}
                </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
    {% endwith %}
</div>