{% load filters %}
{% if reminders|length > 0 %}
<div class="text-center mt-1 mb-2">
    <b class="fs-4">Ахтунг! Есть вещи, которые надо сделать:</b>
</div>
<div class="reminders-list">
    {% for reminder in reminders %}
        {% if forloop.counter0|divisibleby:3 %}
            <div class="charlist-inline justify-content-center">
        {% endif %}
    <button type="button" class="btn btn-{{ reminder.colour }}" data-bs-toggle="modal"
            data-bs-target="#reminder-{{ forloop.counter }}-popup">
        {{ command_parser.titles|get_by_dict_key:reminder.tag }}
    </button>
    <div class="modal fade" id="reminder-{{ forloop.counter }}-popup" tabindex="-1" role="dialog"
         aria-labelledby="reminder-{{ forloop.counter }}-popup-label">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="reminder-{{ forloop.counter }}-popup-label">
                        {{ command_parser.titles|get_by_dict_key:reminder.tag }}
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                </div>
                <div class="modal-body">
                    {% with reminder.form as form %}
                        {% include command_parser.links|get_by_dict_key:reminder.tag %}
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>
                {% if forloop.counter|divisibleby:3 or forloop.last %}
            </div>
                {% endif %}
    {% endfor %}
</div>
{% endif %}