{% block loaders %}
{% load filters %}
{% endblock %}

<div class="page-header text-center">
    <h3>Этап 5: выбор роли (role)</h3>
    <span class="form-control"><meter max="8" value="5"></meter></span>
</div>
<hr/>
<div class="charlist-inline justify-content-center">
    {% for err in form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        {{ err }}
    </div>
    {% endfor %}
    <div class="charlist-content justify-content-center">
        <form class="form-horizontal" method="post" action="">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group charlist-inline justify-content-center mt-2">
                <label for="{{ field.name }}" class="col-sm-2 control-label">{{ field.label }}</label>
                <div class="col-sm-5 ms-2">
                    {{ field }}
                </div>
            </div>
            {% endfor %}
            <div class="form-group charlist-inline justify-content-center mt-2">
                <div class="col-sm-offset-2 col-sm-2">
                    <button type="submit" class="btn btn-primary" name="char-role-next">Далее</button>
                </div>
                <div class="col-sm-offset-2 col-sm-2">
                    <button type="submit" class="btn btn-primary" name="char-role-prev">Назад</button>
                </div>
                <div class="col-sm-offset-2 col-sm-2">
                    <a class="btn btn-danger" href="{% url 'characters-list' %}">Отмена</a>
                </div>
            </div>
        </form>
    </div>
    <div>
        <div class="charlist-container d-none">
            <ul class="nav nav-tabs">
                {% for role in facade.roles.keys %}
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" id="{{ role }}-tab" href="#{{ role }}-info"
                       aria-current="page">
                        {{ facade|get_role_description_big:role|get_role_name:'en' }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="tab-content charlist-content justify-content-center">
            {% for role in facade.roles.keys %}
            <div class="tab-pane fade show charlist-content justify-content-center" id="{{ role }}-info"
                 role="tabpanel">
                <i>Aptitudes:</i>
                <ul>
                    {% for apt in facade|get_role_description_big:role|get_role_aptitudes %}
                    <li>{{ facade|get_aptitude:apt|get_apt_name:'en' }}</li>
                    {% endfor %}
                    {% if facade|get_role_description_big:role|get_role_apt_choices %}

                    {% endif %}
                </ul>
            </div>
            {% endfor %}
        </div>
    </div>
</div>