{% load filters %}

<div class="page-header text-center">
    <h3>Stage 4: alternative aptitudes, skills and talents choices</h3>
    <span class="form-control"><meter max="6" value="4"></meter></span>
</div>
<hr/>
<div class="charlist-inline justify-content-center">
    <div>
        <p><b>Name</b>:&nbsp;{{ cd.name }}</p>
        <p><b>Homeworld</b>:&nbsp;
            {% with facade.rt_homeworlds|get_by_dict_key:cd.hw_id with as hw %}
                {{ hw.name|get_by_dict_key:'en' }}
            {% endwith %}
        </p>
        <p><b>Birthright</b>:&nbsp;
            {% with facade.birthrights|get_by_dict_key:cd.birthright_id with as br %}
                {{ br.name|get_by_dict_key:'en' }}
            {% endwith %}
        </p>
        <p><b>Lure of the Void</b>:&nbsp;
            {% with facade.lures|get_by_dict_key:cd.lure_id with as lure %}
                {{ lure.name|get_by_dict_key:'en' }}
            {% endwith %}
        </p>
        <p><b>Trial or Travail</b>:&nbsp;
            {% with facade.trials|get_by_dict_key:cd.trial_id with as trial %}
                {{ trial.name|get_by_dict_key:'en' }}
            {% endwith %}
        </p>
        <p><b>Motivation</b>:&nbsp;
            {% with facade.motivations|get_by_dict_key:cd.motivation_id with as motive %}
                {{ motive.name|get_by_dict_key:'en' }}
            {% endwith %}
        </p>
        <p><b>Career</b>:&nbsp;
            {% with facade.rt_careers|get_by_dict_key:cd.career_id with as career %}
                {{ career.name|get_by_dict_key:'en' }}
            {% endwith %}
        </p>
    </div>
    <div>
        {% for stat, value in cd.stats.items %}
            <p>
                <b>
                    {% with facade.stat_descriptions|get_by_dict_key:stat as st %}
                        {{ st.name|get_by_dict_key:'en' }}
                    {% endwith %}
                </b>:&nbsp;
                {{ value }}
            </p>
        {% endfor %}
    </div>
</div>
<div class="charlist-inline justify-content-center">
    {% for err in form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        {{ err }}
    </div>
    {% endfor %}
    <div class="charlist-content justify-content-center">
        <form class="form-horizontal" method="post" action="">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group charlist-inline justify-content-center mt-2">
                <label for="{{ field.name }}" class="col-sm-2 control-label">{{ field.label }}</label>
                <div class="col-sm-5 ms-2">
                    {{ field }}
                </div>
            </div>
            {% endfor %}
            <div class="form-group charlist-inline justify-content-center mt-2">
                <div class="col-sm-offset-2 col-sm-2">
                    <button type="submit" class="btn btn-primary" name="char-choices-next">Next</button>
                </div>
                <div class="col-sm-offset-2 col-sm-2">
                    <button type="submit" class="btn btn-primary" name="char-choices-prev">Back</button>
                </div>
                <div class="col-sm-offset-2 col-sm-2">
                    <a class="btn btn-danger" href="{% url 'characters-list' %}">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>