{% block loaders %}
{% load filters %}
{% endblock %}

<div class="page-header text-center">
    <h3>Stage 2: origin and career</h3>
    <span class="form-control"><meter max="6" value="2"></meter></span>
</div>
<hr/>
<div class="charlist-inline justify-content-center">
    {% for err in form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        {{ err }}
    </div>
    {% endfor %}
    <div class="charlist-content justify-content-center">
        <form class="form-horizontal" method="post" action="">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group charlist-inline justify-content-center mt-2">
                <label for="{{ field.name }}" class="col-sm-2 control-label">{{ field.label }}</label>
                <div class="col-sm-5 ms-2">
                    {{ field }}
                </div>
            </div>
            {% endfor %}
            <div class="form-group charlist-inline justify-content-center mt-2">
                <div class="col-sm-offset-2 col-sm-2 ps-3">
                    <button type="submit" class="btn btn-primary ps-3" name="char-origin-next">Next</button>
                </div>
                <div class="col-sm-offset-2 col-sm-2 ps-3">
                    <button type="submit" class="btn btn-primary ps-3" name="char-origin-prev">Back</button>
                </div>
                <div class="col-sm-offset-2 col-sm-2 ps-3">
                    <a class="btn btn-danger ps-3" href="{% url 'characters-list' %}">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>