{% extends 'charlist_main.html' %}

{% load filters %}

{% block pg_title %}
Campaign {{ season.name }}
{% endblock %}

{% block title %}
Чарник ver.{{ version }}&nbsp;|&nbsp;Master edition
{% endblock %}

{% block app_content %}
<header class="page-header text-center">
    <h4>{{ season.name }}</h4>
    <p><i>{{ season.description }}</i></p>
</header>
<div class="text-center">
    <h5>Группы</h5>
</div>
{% for group in groups %}
{% if forloop.counter0|divisibleby:3 %}
<div class="card-group align-self-center justify-content-center">
    {% endif%}
    <div class="card">
        <div class="card-body text-center">
            <p class="card-title"><b><a href="{{ group.get_url }}">{{ group.name }}</a></b></p>
            <p class="card-subtitle">{{ group.description }}</p>
            {% if request.user == group.creator %}
            <div class="charlist-inline align-self-center justify-content-center">
                <div>
                    <a role="button" class="btn btn-success" href="{{ group.get_edit_link }}">Редактировать</a>
                </div>
                <div>
                    <a role="button" class="btn btn-danger" href="{{ group.get_delete_url }}">Удалить</a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    {% if forloop.counter|divisibleby:3 or forloop.last %}
</div>
    {% endif %}
{% empty %}
<div class="text-center">
    <h5>Пока в кампании никто не участвует.&nbsp;{% if request.user == season.creator %}Пора бы это исправить...{% endif %}</h5>
</div>
{% endfor %}
{% if request.user == season.creator %}
<div class=" charlist-inline align-self-center justify-content-center">
    <div>
        <a role="button" class="btn btn-primary" href="{{ season.get_create_group_link }}">Создать группу</a>
    </div>
</div>
<div class="align-self-center">

</div>
{% endif %}
{% endblock %}