{% load filters %}
<div class="card charlist-{% if not skill.is_specialist %}inline{% else %}content{% endif %} justify-content-center w470">
    <div>
        <div class="charlist-inline w170 pt-3 {% if skill.is_specialist %}ps-3{% endif %}">
            {% if hookups|get_by_dict_key:skill_key %}
            <div class="btn-group dropend">
                <span class="position-absolute top-0 start-100 translate-middle btn btn-success dropdown-toggle badge rounded-circle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                </span>
                <ul class="dropdown-menu w400">
                    {% for hint in hookups|get_by_dict_key:skill_key %}
                    <li class="dropdown-item text-wrap">
                        <p class="text-break">{{ hint.description|get_by_dict_key:lang }} <b>({% if lang == 'ru' %}от{% else %}from{% endif %}:{{ hint.talent_name|get_by_dict_key:lang }})</b></p>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            <div class="ps-3">
                <b>{{ facade|get_skill_description:skill_key|get_skdescr_name:lang }}</b>
            </div>
        </div>
        {% if skill.is_specialist %}
        <div class="justify-content-center">
            <ul class="nav nav-tabs" id="c{{ character.id }}-tab-{{ skill_key }}-{{ lang }}" role="tablist">
                {% for stat in facade|get_skill_description:skill_key|get_skdescr_stats %}
                <li class="nav-item" role="presentation">
                    <a class="nav-link {% if forloop.first %}active{% endif %}" id="c{{ character.id }}-{{skill_key}}-{{ stat }}-{{ lang }}-tag" data-bs-toggle="tab" aria-current="page" href="#{{ skill_key }}-{{ stat }}-{{ lang }}">{{ facade|get_short_stat:stat|get_short_stat_name:lang }}</a>
                </li>
                {% endfor %}
            </ul>
            <div class="card-body tab-content" id="c{{ character.id }}-tab-content-{{ skill_key }}-{{ lang }}">
                {% for stat in facade|get_skill_description:skill_key|get_skdescr_stats %}
                <div class="tab-pane fade show {% if forloop.first %}active{% endif %} charlist-content" id="c{{ character.id }}-{{ skill_key }}-{{ stat }}-{{ lang }}">
                    {% for subskill, adv in skill.advances.items %}
                        <div class="charlist-inline justify-content-center">
                            <div class="charlist-content">
                                <div>
                                    <p class="fs-6">{{ subskill }}</p>
                                </div>
                                <div>
                                {% for upg_no in facade.sk_adv_range %}
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="c{{ character.id }}-upg-{{ upg_no }}-{{ skill_key }}-{{ subskill|escape_spaces }}" value="{{ upg_no }}" {% if upg_no <= adv %}checked{% endif %} disabled>
                                    </div>
                                {% endfor %}
                                </div>
                            </div>
                            <div class="charlist-inline">
                                <button class="btn btn-outline-dark disabled align-self-center fs-4">
                                    {{ character|get_stat_bonus:stat }}
                                </button>
                                <button class="btn btn-light btn-lg disabled align-self-center fs-5">
                                    {{ character|get_stat_residual:stat }}
                                </button>
                                <button class="btn btn-info disabled align-self-center fs-5">
                                    {% get_subskill_adv character skill_key subskill as subskill_adv %}
                                    {% if subskill_adv >= 0 %}+{% endif %}{{ subskill_adv }}
                                </button>
                                <div class="align-self-center">
                                    <p class="fs-4">=</p>
                                </div>
                                <button class="btn btn-outline-dark disabled align-self-center fs-4">
                                    {% get_subskill_diff character skill_key subskill stat %}
                                </button>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>
        {% else %}
        {% for upg_no in facade.sk_adv_range %}
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="c{{ character.id }}-upg-{{ upg_no }}-{{ skill_key }}" value="{{ upg_no }}" {% if upg_no <= skill.advances %}checked{% endif %} disabled>
        </div>
        {% endfor %}
        {% endif %}
    </div>
    {% if not skill.is_specialist %}
    <div>
        <ul class="nav nav-tabs" id="c{{ character.id }}-tab-{{ skill_key }}-{{ lang }}" role="tablist">
            {% for stat in facade|get_skill_description:skill_key|get_skdescr_stats %}
            <li class="nav-item" role="presentation">
                <a class="nav-link {% if forloop.first %}active{% endif %}" id="c{{ character.id }}-{{skill_key}}-{{ stat }}-{{ lang }}-tag" data-bs-toggle="tab" aria-current="page" href="#{{ skill_key }}-{{ stat }}-{{ lang }}">{{ facade|get_short_stat:stat|get_short_stat_name:lang }}</a>
            </li>
            {% endfor %}
        </ul>
        <div class="card-body tab-content" id="c{{ character.id }}-tab-content-{{ skill_key }}-{{ lang }}">
            {% for stat in facade|get_skill_description:skill_key|get_skdescr_stats %}
            <div class="tab-pane fade show {% if forloop.first %}active{% endif %}" id="c{{ character.id }}-{{ skill_key }}-{{ stat }}-{{ lang }}" role="tabpanel" aria-labelledby="{{ skill_key }}-{{ stat }}-{{ lang }}-tag">
                <div class="charlist-inline">
                    <button class="btn btn-outline-dark disabled align-self-center fs-4">
                        {{ character|get_stat_bonus:stat }}
                    </button>
                    <button class="btn btn-light disabled align-self-center fs-5">
                        {{ character|get_stat_residual:stat }}
                    </button>
                    <button class="btn btn-info disabled align-self-center fs-5">
                        {% if skill.get_adv_bonus >= 0%}+{% endif %}{{ skill.get_adv_bonus }}
                    </button>
                    <div class="align-self-center">
                        <p class="fs-4">=</p>
                    </div>
                    <button class="btn btn-outline-dark disabled align-self-center fs-4">
                        {% get_skill_diff character skill_key stat %}
                    </button>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
</div>