{% block loaders %}
    {% load filters %}
{% endblock %}

{% for err in form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        {{ err }}
    </div>
{% endfor %}

<div class="card card-body charlist-content justify-content-center align-items-center alert-{{ form.colour }} w300">
    <div>
        <b class="text-dark">{{ facade|get_skill_description:form.skill_tag|get_skdescr_name:lang }}</b>
    </div>
    <form class="form-horizontal" method="post" action="">
        {% csrf_token %}
        <div class="charlist-inline align-items-center mb-1">
            <div class="{% if forloop.counter|divisibleby:2 %}ps-3{% endif %}">
                <b class="text-dark">
                    {% if form.advance >= 0 %}+{% endif %}{{ form.advance }}&nbsp;>>&nbsp;+{{ form.advance_new }}
                </b>
            </div>

            {% if lang == 'en' %}
            <input type="hidden" name="is_en" value="">
            {% endif %}
            <input type="hidden" name="skill_tag" value="{{ form.skill_tag }}">
            <input type="hidden" name="cost" value="{{ form.cost }}">
            <button class="btn btn-{% if form.cost > character.xp_current %}secondary disabled{% else %}primary{%endif%} ms-4 {% if not forloop.counter|divisibleby:2%} me-3{% endif %}"
                    name="upg-skill-confirm" type="submit">
                {{ form.cost }}&nbsp;XP
            </button>
        </div>
    </form>
</div>