{% block loaders %}
    {% load filters %}
{% endblock %}

{% for err in form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        {{ err }}
    </div>
{% endfor %}
    <div class="d-flex flex-row alert alert-{{ colour }} flex-fill">
    <form class="form-horizontal" method="post" action="">
        {% csrf_token %}
        <div class="charlist-inline align-items-center mb-1">
            <input type="hidden" name="skill_tag" value="{{ form.skill_tag }}">
            <input type="hidden" name="subtag_skill" value="{{ form.subtag_skill }}">
            {% if form.subtag_skill == 'SK_ANY' %}
                {% for field in form %}
                <div class="form-group charlist-inline align-items-center">
                    <div class="col-sm-5 ms-2">
                        {{ field }}
                    </div>
                </div>
                {% endfor %}
            {% endif %}
                <div class="ms-2">
                    <b class="text-dark">
                        {% if form.subtag_skill != 'SK_ANY' %}
                            {{ form.subtag_skill }}&nbsp;
                        {% endif %}
                        {% if form.advance >= 0 %}
                            +{{ form.advance }}&nbsp;>>&nbsp;
                        {% endif %}
                        +{{ form.advance_new }}
                    </b>
                </div>
            {% if lang == 'en' %}
            <input type="hidden" name="is_en" value="">
            {% endif %}
            <input type="hidden" name="cost" value="{{ form.cost }}">
            <button class="btn btn-{% if form.cost > character.xp_current %}secondary disabled{% else %}primary{%endif%} ms-4"
                    name="upg-skill-subtag-confirm" type="submit">
                {{ form.cost }}&nbsp;XP
            </button>
        </div>
    </form>
    </div>