{% load filters %}
<div class="card charlist-inline align-content-center justify-content-{% if forloop.counter|divisibleby:2 %}start{% else %}end{% endif %}">
    {% if not forloop.counter|divisibleby:2 %}
    <div>
        <div class="charlist-inline justify-content-start">
            {% if hookups|get_by_dict_key:stat_key %}
            <div class="btn-group dropend">
                <span class="position-absolute top-0 start-100 translate-middle btn btn-success dropdown-toggle badge rounded-circle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                </span>
                <ul class="dropdown-menu w400">
                    {% for hint in hookups|get_by_dict_key:stat_key %}
                    <li class="dropdown-item text-wrap">
                        <p class="text-break">{{ hint.description|get_by_dict_key:lang }} <b>({% if lang == 'ru' %}от{% else %}from{% endif %}:{{ hint.talent_name|get_by_dict_key:lang }})</b></p>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            <div>
                <p class="fs-5">{{ facade|get_stat_description:stat_key|get_stdescr_name:lang }}</p>
            </div>
        </div>
        <div>
            {% if facade|get_stat_description:stat_key|get_stdescr_upgradeable %}
            {% for upg_no in facade.st_adv_range %}
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="upg-{{ upg_no }}-{{ stat_key }}" value="{{ upg_no }}" {% if upg_no <= stat.get_upgrades %}checked{% endif %} disabled>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    <div>
        <button class="btn btn-danger btn-lg disabled fs-3">{{ stat.bonus }}</button>
        <button class="btn btn-outline-dark btn-lg disabled fs-5">{{ stat.residue }}</button>
    </div>
    {% else %}
    <div>
        <button class="btn btn-danger btn-lg disabled fs-3">{{ stat.bonus }}</button>
        <button class="btn btn-outline-dark btn-lg disabled fs-5">{{ stat.residue }}</button>
    </div>
    <div>
        <div class="charlist-inline justify-content-between">
            <div>
                <p class="fs-5">{{ facade|get_stat_description:stat_key|get_stdescr_name:lang }}</p>
            </div>
            {% if hookups|get_by_dict_key:stat_key %}
            <div class="btn-group dropend">
                <span class="position-absolute top-0 start-100 translate-middle btn btn-success dropdown-toggle badge rounded-circle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                </span>
                <ul class="dropdown-menu w400">
                    {% for hint in hookups|get_by_dict_key:stat_key %}
                    <li class="dropdown-item text-wrap">
                        <p class="text-break">{{ hint.description|get_by_dict_key:lang }} <b>({% if lang == 'ru' %}от{% else %}from{% endif %}:{{ hint.talent_name|get_by_dict_key:lang }})</b></p>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
        <div>
            {% if facade|get_stat_description:stat_key|get_stdescr_upgradeable %}
            {% for upg_no in facade.st_adv_range %}
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="upg-{{ upg_no }}-{{ stat_key }}" value="{{ upg_no }}" {% if upg_no <= stat.get_upgrades %}checked{% endif %} disabled>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    {% endif %}
</div>