{% load filters %}

<div class="card card-body stats-list" id="stats-{{ lang }}">
    <header class="text-center">
        <h5>
            {% if lang == 'ru' %}Характеристики{% else %}Characteristics{% endif %}
        </h5>
    </header>
    <div class="charlist-content">
        {% for stat_key in facade.stat_tags %}
        {% if stat_key != 'ST_IFL' or not character.is_rt %}
        {% with character.stats|get_by_dict_key:stat_key as stat %}
        {% if not forloop.counter|divisibleby:2 %}
            <div class="card-group">
        {% endif %}
        {% include 'stat_widget.html' %}
        {% endwith %}
        {% endif %}
        {% if forloop.counter|divisibleby:2 or forloop.last %}
            </div>
        {% endif %}
        {% endfor %}
    </div>
</div>