{% block loaders %}
    {% load filters %}
{% endblock %}

{% for err in form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        {{ err }}
    </div>
{% endfor %}
{% with facade.talent_descriptions|get_by_dict_key:form.tl_tag as tal %}
 <div class="card card-body charlist-content justify-content-center align-items-center align-self-center alert-{{ form.colour }} w300">
    <div>
        <a href="" class="text-dark text-decoration-none" role="button" data-bs-toggle="modal"
                           data-bs-target="#c{{character.id}}-{{ form.tl_tag }}-{{ lang }}-upg-info" title="Подробнее">
            <b class="text-dark">{{ tal.name|get_by_dict_key:lang }}</b>
        </a>
    </div>

    <div class="modal fade" id="c{{character.id}}-{{ form.tl_tag }}-{{ lang }}-upg-info" tabindex="-1"
         aria-labelledby="c{{character.id}}-{{ form.tl_tag }}-{{ lang }}-upg-info-label">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <b id="c{{character.id}}-{{ form.tl_tag }}-{{ lang }}-upg-info-label">
                        {{ tal.name|get_by_dict_key:lang }}
                    </b>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="charlist-inline">
                        <div>
                            <b class="text-dark">
                                <i>{% if lang == 'ru' %}Эффекты{% else %}Effects{% endif %}</i>
                            </b>
                        </div>
                    </div>
                    <div>
                        {% for hint in facade|get_talent_description:form.tl_tag|get_tldescr_hints %}
                            <div class="card card-body">
                                <p class="card-text">{{ hint|get_hint_description:lang }}</p>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="charlist-inline">
                        <b>
                            <i>{% if lang == 'ru' %}Описание{% else %}Description{% endif %}</i>
                        </b>
                    </div>
                    <div class="card card-body">
                        <p class="card-text">
                            {{ tal.description|get_by_dict_key:lang }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <form class="form-horizontal" method="post" action="">
        {% csrf_token %}
        <div class="charlist-inline align-items-center mb-1">
            {% if form.taken >= 0 %}
            <div>
                <b class="text-dark">
                    {{ form.taken }}&nbsp;>>&nbsp;{{ form.taken_new }}
                </b>
            </div>
            {% endif %}

            {% if lang == 'en' %}
            <input type="hidden" name="is_en" value="">
            {% endif %}
            <input type="hidden" name="tl_tag" value="{{ form.tl_tag }}">
            <input type="hidden" name="cost" value="{{ form.cost }}">
            <button class="btn btn-{% if form.cost > character.xp_current or not form.available %}secondary disabled{% else %}primary{%endif%} ms-4"
                    name="upg-talent-confirm" type="submit">
                {{ form.cost }}&nbsp;XP
            </button>
        </div>
    </form>

     {% if not form.available %}
        {% with tal.get_prerequisites as prereqs %}
            {% include 'prerequisites_widget.html' %}
        {% endwith %}
     {% endif %}
 </div>
{% endwith %}