{% load filters %}
<div class="w300 text-center align-self-center">
                <p>
                    <i>
                        <a href="" class="text-dark text-decoration-none" role="button" data-bs-toggle="modal"
                           data-bs-target="#c{{character.id}}-{{ talent_key }}-{{ lang }}-info" title="Подробнее">
                            {{ facade|get_talent_description:talent_key|get_tldescr_name:lang }}
                            {% if not facade|get_talent_description:talent_key|get_tldescr_is_specialist %}
                                {% if facade|get_talent_description:talent_key|get_tldescr_is_stackable %}
                                    ({{ talent.taken }})
                                {% endif %}
                            {% else %}
                            {% for subtag, tk in talent.taken.items %}
                                {% if forloop.first %}({% endif %}
                                {{ subtag }} {% if facade|get_talent_description:talent_key|get_tldescr_is_stackable %}({{ tk }}){% endif %}
                                {% if not forloop.last %}
                                    ,&nbsp;
                                {% else %}
                                    )
                                {% endif %}
                            {% endfor %}
                            {% endif %}
                        </a>
                    </i>
                </p>
</div>

    <div class="modal fade" id="c{{character.id}}-{{ talent_key }}-{{ lang }}-info" tabindex="-1"
         aria-labelledby="c{{character.id}}-{{ talent_key }}-{{ lang }}-info-label">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <b id="c{{character.id}}-{{ talent_key }}-{{ lang }}-info-label">
                        {% if lang == 'ru' %}
                            {{ facade|get_talent_description:talent_key|get_tldescr_name:'ru' }}&nbsp;/&nbsp;
                            {{ facade|get_talent_description:talent_key|get_tldescr_name:'en' }}&nbsp;(
                        {% else %}
                            {{ facade|get_talent_description:talent_key|get_tldescr_name:'en' }}&nbsp;/&nbsp;
                            {{ facade|get_talent_description:talent_key|get_tldescr_name:'ru' }}&nbsp;(
                        {% endif %}
                        {% with facade|get_talent_description:talent_key as tal %}
                        {% for apt in tal.get_aptitudes %}
                        {% with facade.aptitudes|get_by_dict_key:apt as aptitude %}
                            {% if pl == 'ru' %}{{ aptitude.get_name_ru }}{% else %}{{ aptitude.get_name_en }}{% endif %}
                        {% endwith %}
                        {% if not forloop.last %};&nbsp;{% endif %}
                        {% endfor %}
                        {% endwith %}
                        )
                    </b>
                </div>
                <div class="modal-body">
                    <div class="charlist-inline">
                        <div>
                            <b class="text-dark">
                                <i>{% if lang == 'ru' %}Эффекты{% else %}Effects{% endif %}</i>
                            </b>
                        </div>
                    </div>
                    <div>
                        {% for hint in facade|get_talent_description:talent_key|get_tldescr_hints %}
                            <div class="card card-body">
                                <p class="card-text">{{ hint|get_hint_description:lang }}</p>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="charlist-inline">
                        <b>
                            <i>{% if lang == 'ru' %}Описание{% else %}Description{% endif %}</i>
                        </b>
                    </div>
                    <div class="card card-body">
                        <p class="card-text">{{ facade|get_talent_description:talent_key|get_tldescr_description:lang }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>