{% load filters %}
<hr>
<header class="charlist-content justify-content-center">
    <h4 class="text-center">
        {% if lang == 'ru' %}Таланты и черты{% else %}Talents and traits{% endif %}
    </h4>
</header>
<div class="charlist-content justify-content-center">
    <div class="charlist-content justify-content-center">
        <h5 class="text-center">
            {% if lang == 'ru' %}Таланты{% else %}Talents{% endif %}
        </h5>
    </div>
    <hr>
    <div class="charlist-content justify-content-center">
    {% for talent_key, talent in character.talents.items %}
        {% if not forloop.counter|divisibleby:3 and forloop.counter0|divisibleby:3 %}
            <div class="card-group charlist-inline">
        {% endif %}
        {% include 'talent_widget.html' %}
        {% if forloop.counter|divisibleby:3 or forloop.last %}
            </div>
        {% endif %}
    {% endfor %}
    </div>
</div>