{% load filters %}
<div class="charlist-inline align-content-center mt-2">
    <div class="text-center">
        <h5>{% if lang == 'ru' %}Раны{% else %}Wounds{% endif %}:</h5>
    </div>
    <div class="ps-4">
        <p class="fs-5">{{ character.wounds_current }}/{{ character.wounds_cap }}</p>
    </div>
    <div class="charlist-inline ps-3">
        <input type="number">
        <button type="submit" name="heal" class="btn btn-success fs-5">
            {% if lang == 'ru' %}Вылечить{% else %}Heal{% endif %}
        </button>
        <button type="submit" name="wound" class="btn btn-danger fs-5">
            {% if lang == 'ru' %}Нанести{% else %}Damage{% endif %}
        </button>
    </div>
</div>