{% load filters %}
<div class="charlist-inline justify-content-center align-items-center mt-2">
    <div class="text-center">
        <b>{% if lang == 'ru' %}Раны{% else %}Wounds{% endif %}:</b>
    </div>
    <div>
        <p>{{ character.wounds_current }}/{{ character.wounds_cap }}</p>
    </div>
    <div class="charlist-inline ps-3">
        <input type="number">
        <button type="submit" name="heal" class="btn btn-success">
            {% if lang == 'ru' %}Вылечить{% else %}Heal{% endif %}
        </button>
        <button type="submit" name="wound" class="btn btn-danger">
            {% if lang == 'ru' %}Нанести{% else %}Damage{% endif %}
        </button>
    </div>
</div>