{% load filters %}
<div class="charlist-inline justify-content-center align-items-center">
    <div>
        <b>{% if lang == 'ru' %}Очки опыта{% else %}Experience points{% endif %}: &nbsp;</b>
    </div>
    <div>
        <b>
            {% if lang == 'ru' %}Доступно{% else %}Available{% endif %}: {{ character.xp_current }}
        </b>
    </div>
    <div>
        <b>
            &nbsp;&nbsp;{% if lang == 'ru' %}Потрачено{% else %}Spent{% endif %}: {{ character.xp_spent }}
        </b>
    </div>
    <span>
        &nbsp;&nbsp;
    </span>
    <div>
        <a class="btn btn-primary" href="">
            {% if lang == 'ru' %}Прокачаться{% else %}Spend XP{% endif %}
        </a>
    </div>
</div>