{% load filters %}
<div class="charlist-inline justify-content-center align-items-center">
    <div>
        <b>{% if lang == 'ru' %}Очки опыта{% else %}Experience points{% endif %}: &nbsp;</b>
    </div>
    <div>
        <b>
            {% if lang == 'ru' %}Доступно{% else %}Available{% endif %}: {{ character.xp_current }}
        </b>
    </div>
    <div>
        <b>
            &nbsp;&nbsp;{% if lang == 'ru' %}Потрачено{% else %}Spent{% endif %}: {{ character.xp_spent }}
        </b>
    </div>
    <span>
        &nbsp;&nbsp;
    </span>
    {% if is_owner %}
    <div>
        <a class="btn btn-primary" href="{% if return %}{{ char_view }}{% else %}{{ upg_view }}{% endif %}">
            {% if return %}
                {% if lang == 'ru' %}Готово{% else %}Done{% endif %}
            {% else %}
                {% if lang == 'ru' %}Прокачаться{% else %}Spend XP{% endif %}
            {% endif %}
        </a>
    </div>
    {% endif %}
</div>