{% load filters %}
<div class="charlist-inline justify-content-center">
    <div>
        <b>{% if lang == 'ru' %}Очки опыта{% else %}Experience points{% endif %} &nbsp;</b>
    </div>
    <div>
        <b>
            {% if lang == 'ru' %}Доступно{% else %}Available{% endif %}: {{ character.xp_current }}
        </b>
    </div>
    <div>
        <b>
            &nbsp;&nbsp;{% if lang == 'ru' %}Потрачено{% else %}Spent{% endif %}: {{ character.xp_spent }}
        </b>
    </div>
</div>
<div class="charlist-content justify-content-center">
    <a class="btn btn-primary" href="">
        {% if lang == 'ru' %}Прокачаться{% else %}Spend XP{% endif %}
    </a>
</div>